Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-getMyPrescriptions
        name: Lint getMyPrescriptions
        entry: npm
        args: ["run", "--prefix=packages/getMyPrescriptions", "lint"]
        language: system
        files: ^packages\/getMyPrescriptions
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-splunkProcessor
        name: Lint Splunk Processor
        entry: npm
        args: ["run", "--prefix=packages/splunkProcessor", "lint"]
        language: system
        files: ^packages\/splunkProcessor
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-middleware
        name: Lint Middleware
        entry: npm
        args: ["run", "--prefix=packages/middleware", "lint"]
        language: system
        files: ^packages\/middleware
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-capabilityStatement
        name: Lint capabilityStatement
        entry: npm
        args: ["run", "--prefix=packages/capabilityStatement", "lint"]
        language: system
        files: ^packages\/capabilityStatement
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-spineClient
        name: Lint spineClient
        entry: npm
        args: ["run", "--prefix=packages/spineClient", "lint"]
        language: system
        files: ^packages\/spineClient
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-getSecretLayer
        name: Lint getSecretLayer
        entry: make
        args: ["lint-go"]
        language: system
        files: ^packages\/getSecretLayer
        pass_filenames: false

fail_fast: true
default_stages: [commit]

AEA-3450 Now accepting URLs with no protocol. Stripping protocol when adding to telecom array.
  packages/common/testing/src/mockAPIResponseBody.json
  packages/serviceSearchClient/src/handleUrl.ts
  packages/serviceSearchClient/tests/handleUrl.test.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

AEA-3450 Less stupid cache implementation.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/src/index.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

AEA-3450 Test for adding undefined values to cache.
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: none

AEA-3450 Passing-in logger in distanceSelling ctor.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

AEA-3450 Removed leftover getSecretsLayer launch file.
  packages/getSecretLayer/.vscode/launch.json
Due: lint-getSecretLayer

AEA-3450 Added metrics to serviceSearch call. Missing guard in Makefile.
  Makefile
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

AEA-3450 Useful logging fields.
  packages/distanceSelling/src/distanceSelling.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

refactor release pipeline to make it readable (#465)
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: none

AEA-3450 Commented-out lambda insights. To be re-enabled in later ticket.
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: none

AEA-3450 Tweaks to jest config files.
  packages/capabilityStatement/jest.config.ts
  packages/capabilityStatement/jest.debug.config.ts
  packages/distanceSelling/jest.config.ts
  packages/distanceSelling/jest.debug.config.ts
  packages/getMyPrescriptions/jest.config.ts
  packages/getMyPrescriptions/jest.debug.config.ts
  packages/middleware/jest.config.ts
  packages/middleware/jest.debug.config.ts
  packages/sandbox/jest.config.ts
  packages/sandbox/jest.debug.config.ts
  packages/serviceSearchClient/jest.config.ts
  packages/serviceSearchClient/jest.debug.config.ts
  packages/spineClient/jest.config.ts
  packages/spineClient/jest.debug.config.ts
  packages/splunkProcessor/jest.debug.config.ts
  packages/statusLambda/jest.config.ts
  packages/statusLambda/jest.debug.config.ts
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient

AEA-3450 Removed unneeded files from common.
  packages/common/.vscode/launch.json
  packages/common/.vscode/settings.json
Due: none

AEA-3450 Added extra prescription with new distance selling pharmacy to test data.
  .vscode/prescriptionsforpatients.code-workspace
  packages/common/testing/src/index.ts
  packages/common/testing/src/mockAPIResponseBody.json
  packages/common/testing/src/mockInteractionResponseBody.json
  packages/common/testing/src/mockServiceSearchResponseBodyPharmacy2u.json
  packages/common/testing/src/mockServiceSearchResponseBodyPharmica.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Left a mock.onGet in there by accident.
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Better mocking of service search calls.
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3450 better coverage in distanceSelling.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: none

AEA-3450 Ensure we don't log api key in error cases.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

AEA-3450 Satisfy SonarCloud.
  packages/serviceSearchClient/tests/handleUrl.test.ts
Due: none

AEA-3450 Using latest getSecretsLayer.
  Makefile
Due: none

AEA-3450 Using defined latest getSecretsLayer.
  Makefile
Due: none

AEA-3450 Wording of test description.
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Changed jest config from js to ts in splunkProcessor.
  packages/splunkProcessor/jest.config.js
  packages/splunkProcessor/jest.config.ts
Due: lint-splunkProcessor

AEA-3450 Doesn't add cache entry when error calling service search.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: none

AEA-3450 Retries implemented for service search api call.
  package-lock.json
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

AEA-3450 Corrected ordering in assertions.
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

use splunk stack
  Makefile
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/splunk_firehose_resources.yaml
Due: none

remove using pull request stack
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: none

remove splunk processor code
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  LICENSE-THE-TOMORROW-OPEN-SOURCE-TECHNOLOGY-LICENSE
  Makefile
  README.md
  package-lock.json
  package.json
  packages/splunkProcessor/.eslintrc
  packages/splunkProcessor/.vscode/launch.json
  packages/splunkProcessor/.vscode/settings.json
  packages/splunkProcessor/jest.config.ts
  packages/splunkProcessor/jest.debug.config.ts
  packages/splunkProcessor/package.json
  packages/splunkProcessor/src/helpers.js
  packages/splunkProcessor/src/splunkProcessor.js
  packages/splunkProcessor/tests/batchRecordsToReingest.test.js
  packages/splunkProcessor/tests/createReingestionRecord.test.js
  packages/splunkProcessor/tests/getReingestionRecord.test.js
  packages/splunkProcessor/tests/putRecordsToFirehoseStream.test.js
  packages/splunkProcessor/tests/putRecordsToKinesisStream.test.js
  packages/splunkProcessor/tests/reingestRecordBatches.test.js
  packages/splunkProcessor/tests/transformLogEvent.test.js
  sonar-project.properties
Due: lint-splunkProcessor

AEA-3741 Trailing slash removed from urls.
  packages/common/testing/src/mockAPIResponseBody.json
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3741 Make SonarCloud happy.
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: none

AEA-3741 Fixed duplicate url entries scenario.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: none

AEA-3741 Removed unnecessary question mark.
  packages/distanceSelling/src/distanceSelling.ts
Due: none

AEA-3741 Slash at end of Distance Selling Pharmacy URLs (#500)
  packages/common/testing/src/mockAPIResponseBody.json
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

remove cloudformation now its moved to account-resources
  cloudformation/README.md
  cloudformation/account_resources.yml
  cloudformation/ci_resources.yml
  cloudformation/environment_route53.yml
  cloudformation/management_route53.yml
Due: none

do not lint cloudformation
  Makefile
Due: none

AEA-3656 Use Splunk resources from account-resources deployment (#499)
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  LICENSE-THE-TOMORROW-OPEN-SOURCE-TECHNOLOGY-LICENSE
  Makefile
  README.md
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/splunk_firehose_resources.yaml
  cloudformation/README.md
  cloudformation/account_resources.yml
  cloudformation/ci_resources.yml
  cloudformation/environment_route53.yml
  cloudformation/management_route53.yml
  package-lock.json
  package.json
  packages/splunkProcessor/.eslintrc
  packages/splunkProcessor/.vscode/launch.json
  packages/splunkProcessor/.vscode/settings.json
  packages/splunkProcessor/jest.config.ts
  packages/splunkProcessor/jest.debug.config.ts
  packages/splunkProcessor/package.json
  packages/splunkProcessor/src/helpers.js
  packages/splunkProcessor/src/splunkProcessor.js
  packages/splunkProcessor/tests/batchRecordsToReingest.test.js
  packages/splunkProcessor/tests/createReingestionRecord.test.js
  packages/splunkProcessor/tests/getReingestionRecord.test.js
  packages/splunkProcessor/tests/putRecordsToFirehoseStream.test.js
  packages/splunkProcessor/tests/putRecordsToKinesisStream.test.js
  packages/splunkProcessor/tests/reingestRecordBatches.test.js
  packages/splunkProcessor/tests/transformLogEvent.test.js
  sonar-project.properties
Due: lint-splunkProcessor

enables lambda insights on pfp lambda
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: none

dynamically get lambda arns
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: none

dynamically get lambda arns for release notes (#553)
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: none

changes format of imported policy
  SAMtemplates/lambda_resources.yaml
Due: none
