Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-samtemplatess:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

AEA-3899 Corrections to temp imports in state machine template.
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Added param to use as feature toggle for GSU.
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Fix bad param type.
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Adjustments to state machine function response.
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3899 Tweak to pfp lambda response.
  packages/getMyPrescriptions/src/responses.ts
Due: lint-getMyPrescriptions

adds spine timeout error log
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3899 Correction to FunctionName reference in asl.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

adds error log for lambda handler timeout
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

reduces lambda timeout to less than nhs app
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

asserts error log level
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3899 Added ssm parameter to SAM templates and passed to state machine.
  Makefile
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Fix for parameter arn.
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplatess

refactors to test lambda timeout
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3899 Tweaks to params in parameters.
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplatess

[AEA-3877] added methods to api
  Makefile
  SAMtemplates/apis/main.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Added EnrichPrescriptions to state machine.
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Now passing EnrichPrescriptionsFunctionName into state_machines.
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Input/output mappings.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

update common libraries
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

AEA-0000 update common libraries (#819)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

[AEA-3877] updated pipelines to temp deploy old and new stacks
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  Makefile
  SAMtemplates/functions/main.yaml
  SAMtemplates/lambda_resources.old.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

[AEA-3877] fixing typo in makefile
  .github/scripts/delete_stacks.sh
  Makefile
Due: none

[AEA-3877] debugging pipeline
  Makefile
Due: none

[AEA-3877] debugging pipeline
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

[AEA-3877] debugging pipeline
  SAMtemplates/functions/main.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

[AEA-3877] debugging pipeline
  .github/workflows/sam_package_code.yml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

[AEA-3877] debugging pipeline
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

Progress on EnrichPrescriptions lambda.
  .vscode/prescriptionsforpatients.code-workspace
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/responses.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/src/utils.ts
  packages/enrichPrescriptions/tests/data/requestBundle.ts
  packages/enrichPrescriptions/tests/data/responseBundle.ts
  packages/enrichPrescriptions/tests/data/statusUpdates.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-3899 Using newer export from GSU stack.
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

Happy path working in enrichPrescriptions.
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/statusUpdates.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
Due: none

[AEA-3877] debugging deployment
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

[AEA-3877] added missing permissions to api gw role
  SAMtemplates/apis/main.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/state_machine_resources.yaml
Due: lint-samtemplatess

[AEA-3877] tweaking lambda execute policy
  SAMtemplates/functions/lambda_resources.yaml
Due: lint-samtemplatess

AEA-3899 Added rich/simple test cases. Correction to extension structure.
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/rich/requestBundle.ts
  packages/enrichPrescriptions/tests/data/rich/responseBundle.ts
  packages/enrichPrescriptions/tests/data/rich/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/simple/requestBundle.ts
  packages/enrichPrescriptions/tests/data/simple/responseBundle.ts
  packages/enrichPrescriptions/tests/data/simple/statusUpdates.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-3899 Fix import of gsu function.
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Extra testing around statusUpdate data.
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/utils.ts
Due: lint-getMyPrescriptions

AEA-3899 Testing default update.
  .vscode/prescriptionsforpatients.code-workspace
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-3899 Add schemaVersion to statusUpdateData output from getMyPrescriptions lambda.
  packages/getMyPrescriptions/src/responses.ts
Due: lint-getMyPrescriptions

AEA-3899 Included identifiers for upcoming spine change. Some logging, too.
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/rich/requestBundle.ts
  packages/enrichPrescriptions/tests/data/rich/responseBundle.ts
  packages/enrichPrescriptions/tests/data/simple/requestBundle.ts
  packages/enrichPrescriptions/tests/data/simple/responseBundle.ts
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates
