Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-samtemplatess:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

Change the token in eps-spine-client install step
  .github/workflows/sam_package_code.yml
Due: none

Restore the token in eps-spine-client install step
  .github/workflows/sam_package_code.yml
Due: none

Update package-lock file
  package-lock.json
Due: none

Add read packages permission
  .github/workflows/sam_package_code.yml
Due: none

Update packages and imports
  package-lock.json
  package.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/status.test.ts
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Remove spineClient from the workspace
  .vscode/prescriptionsforpatients.code-workspace
Due: none

Add fhir-middy-error-handler npm package
  package-lock.json
  package.json
  packages/getMyPrescriptions/package.json
Due: lint-getMyPrescriptions

Replace middy error handler with NPM published package
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  package-lock.json
  package.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/capabilityStatement/tsconfig.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/middleware/.eslintrc
  packages/middleware/.vscode/launch.json
  packages/middleware/.vscode/settings.json
  packages/middleware/jest.config.ts
  packages/middleware/jest.debug.config.ts
  packages/middleware/package.json
  packages/middleware/src/index.d.ts
  packages/middleware/src/index.js
  packages/middleware/tests/index.test.js
  packages/middleware/tsconfig.json
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tsconfig.json
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
  sonar-project.properties
  tsconfig.build.json
Due: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox

Update package files
  package-lock.json
  packages/getMyPrescriptions/package.json
Due: lint-getMyPrescriptions

Remove duplicate tests
  packages/getMyPrescriptions/tests/live-spine-client.test.ts
Due: lint-getMyPrescriptions

Add serviceSearchClient path to the references
  packages/distanceSelling/tsconfig.json
Due: lint-distanceSelling

handle no url for distance selling pharmacy
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient

check no error message logged
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient

Add nhsNumber to headers
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Clean up the imports in the getMyPrescriptions file
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

AEA-3799 handle no url returned for a distance selling pharmacy (#648)
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient

Revert changes to errorHandler with logger
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/sandbox/src/sandbox.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

Remove aws-lambda-powertools/logger dependency from packages
  packages/capabilityStatement/package.json
  packages/getMyPrescriptions/package.json
  packages/sandbox/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

Add aws-lambda-powertools/logger to dependencies
  package.json
  packages/capabilityStatement/package.json
  packages/getMyPrescriptions/package.json
  packages/sandbox/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

Upgrade fhir-middy-error-handler package
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Assign a logger value to the property logger
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/sandbox/src/sandbox.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

Add mount for creating .npmrc file
  .devcontainer/devcontainer.json
Due: none

Add GitHub Packages Setup guide
  README.md
Due: none

Update the link to personal access tokens documentation
  README.md
Due: none

Remove .npmrc file
  .npmrc
Due: none

Remove eps-spine-client install package steps
  .github/workflows/quality_checks.yml
  .github/workflows/sam_package_code.yml
Due: none

Add setting up .npmrc step
  .github/workflows/quality_checks.yml
  .github/workflows/sam_package_code.yml
Due: none

Remove unnecessary tests
  packages/getMyPrescriptions/tests/live-spine-client.test.ts
Due: lint-getMyPrescriptions

Fix sam_package_code workflow
  .github/workflows/sam_package_code.yml
Due: none

bump @typescript-eslint/eslint-plugin
  package-lock.json
  package.json
Due: none

log full error when servicesearch fails in request
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

AEA-3857 log full error when servicesearch fails in request (#706)
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

use local example for context
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/testing/src/helloWorldContext.js
  packages/common/testing/src/index.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/sandbox/tests/test-handler.test.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-common-testing

make everything work with latest aws-lambda-power-tools
  package-lock.json
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/sandbox/src/sandbox.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

upgrade internal packages
  package-lock.json
  packages/capabilityStatement/package.json
  packages/getMyPrescriptions/package.json
  packages/sandbox/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

update package-lock.json
  package-lock.json
Due: none

aws-lambda-powertools v2 upgrade (#719)
  package-lock.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/testing/src/helloWorldContext.js
  packages/common/testing/src/index.ts
  packages/distanceSelling/package.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/package.json
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing

fixes impure test and compares to defined headers
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

adds jest to devcontainer
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates
