Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-updatePrescriptionStatus
        name: Lint updatePrescriptionStatus
        entry: npm
        args: ["run", "--prefix=packages/updatePrescriptionStatus", "lint"]
        language: system
        files: ^packages\/updatePrescriptionStatus
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-gsul
        name: Lint gsul
        entry: npm
        args: ["run", "--prefix=packages/gsul", "lint"]
        language: system
        files: ^packages\/gsul
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-samtemplates
        name: Lint sam templates
        entry: make
        args: ["lint-samtemplates"]
        language: system
        files: ^SAMtemplates
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [commit]

Adjust API name
  .github/scripts/deploy_api.sh
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Adjust client name to new client
  .github/scripts/deploy_api.sh
Due: none

Modify base path and API naming to v2
  .github/scripts/deploy_api.sh
  packages/specification/prescriptions-for-patients.yaml
Due: none

# This is a combination of 7 commits. # This is the 1st commit message:
  .github/scripts/deploy_api.sh
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

Submit mTLS always
  .github/scripts/deploy_api.sh
Due: none

# This is a combination of 18 commits. # This is the 1st commit message:
  .github/scripts/deploy_api.sh
  .github/workflows/pull_request.yml
  .github/workflows/run_regression_tests.yml
  README.md
  package-lock.json
  package.json
  packages/capabilityStatement/package.json
  packages/common/utilities/package.json
  packages/enrichPrescriptions/package.json
  packages/getMyPrescriptions/package.json
  packages/nhsd-pfp-sandbox/package.json
  packages/specification/package.json
  packages/statusLambda/package.json
Due: lint-statusLambda, lint-githubactions

Reset mTLS changes
  .github/scripts/deploy_api.sh
Due: none

fix: make sam-sync
  Makefile
  README.md
Due: none

fix: layer failure to load SSv3 key
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

chore: simplify condition
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

chore: tweak logging
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

New: [AEA-6146] - Adjust new Proxygen basepath (#2339)
  .github/scripts/deploy_api.sh
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
  packages/specification/prescriptions-for-patients.yaml
Due: lint-githubactions

chore: clean up logging
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

test: increase coverage, eg new func getServiceSearchVersion
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

chore: tmp remove URL from
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

Revert "chore: tmp remove URL from serviceSearch"
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

fix: handle diff v3 response
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

test: v3 response data
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

fix: revised test approach for less mocks
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

fix: v2 compatibility
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

test: new distance selling regression test
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Revert "New: [AEA-6146] - Adjust new Proxygen basepath (#2339)"
  .github/scripts/deploy_api.sh
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
  packages/specification/prescriptions-for-patients.yaml
Due: lint-githubactions

ops: pin proxygen regression tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions
