Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-samtemplatess:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

AEA-3899 Correct test data in rich request/response bundle.
  packages/enrichPrescriptions/tests/data/rich/requestBundle.ts
  packages/enrichPrescriptions/tests/data/rich/responseBundle.ts
Due: none

AEA-3899 Temp hard-coded response from getMyPrescriptions to include identifiers in MedicationRequests.
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/tempBundle.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3899 Added catch-all error around lambdas.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

AEA-3899 Using proper stack for psu imports, now that GSU lambda is merged.
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Align fhir logic of distance selling and status update. Part I.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions, lint-distanceSelling

AEA-3899 Common fhir code moved to fhirUtils.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/src/fhirUtils.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
Due: lint-getMyPrescriptions, lint-distanceSelling

update common libraries
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

update common libraries 24 April 2024 (#833)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

AEA-3899 More testing around common fhirUtils code.
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/utils.ts
Due: lint-getMyPrescriptions, lint-distanceSelling

AEA-3899 Allowing for no status update data present in event for enrichPrescriptions lambda. Plus some more logging.
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/unalteredResponseBundle.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-3899 Leftover function moved into fhirUtils. Made enrichPrescriptions closer to common fhir code.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/getMyPrescriptions/src/fhirUtils.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
Due: lint-getMyPrescriptions, lint-distanceSelling

AEA-3899 Removed unnecessary utils from new lambda.
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/utils.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
Due: none

AEA-3899 Test data for enrichPrescriptions now json rather than in functions because SonarCloud is petty.
  packages/enrichPrescriptions/tests/data/rich/requestBundle.json
  packages/enrichPrescriptions/tests/data/rich/requestBundle.ts
  packages/enrichPrescriptions/tests/data/rich/responseBundle.json
  packages/enrichPrescriptions/tests/data/rich/responseBundle.ts
  packages/enrichPrescriptions/tests/data/rich/statusUpdates.json
  packages/enrichPrescriptions/tests/data/rich/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/simple/requestBundle.json
  packages/enrichPrescriptions/tests/data/simple/requestBundle.ts
  packages/enrichPrescriptions/tests/data/simple/responseBundle.json
  packages/enrichPrescriptions/tests/data/simple/responseBundle.ts
  packages/enrichPrescriptions/tests/data/simple/statusUpdates.json
  packages/enrichPrescriptions/tests/data/simple/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/unalteredResponseBundle.json
  packages/enrichPrescriptions/tests/data/unalteredResponseBundle.ts
  packages/enrichPrescriptions/tests/utils.ts
  packages/enrichPrescriptions/tsconfig.json
Due: none

AEA-3899 Corrected distanceSelling exports.
  packages/distanceSelling/src/index.ts
Due: lint-distanceSelling

AEA-3899 Removed distance selling update from temp bundle.
  packages/getMyPrescriptions/src/tempBundle.ts
Due: lint-getMyPrescriptions

[AEA-3877] review changes
  .github/scripts/delete_stacks.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  SAMtemplates/functions/main.yaml
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

[AEA-3877] testing mtls
  .github/workflows/pull_request.yml
Due: none

[AEA-3877] turn mtls back off for PR's and replicate exisiting behaviour with step function
  .github/workflows/pull_request.yml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

AEA-3899 Fhir utils code separated and tested. Checking updates for prescription id as well as item id. Default behaviour adjusted.
  packages/enrichPrescriptions/src/fhirUtils.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testFhirUtils.test.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-3899 Handling isSuccess in GSU response at state machine level.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  packages/enrichPrescriptions/src/statusUpdates.ts
Due: lint-samtemplatess

[AEA-3877] tweaked response mapping, state machine and lambda to work in both versions
  SAMtemplates/apis/main.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

AEA-3899 Corrections to state machine condition for GSU call.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

[AEA-3877] fixed header reference
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

AEA-3899 Test description tweaks.
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions

[AEA-3877] tweaking apigw rid condition
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

AEA-3899 Changes to input even for getMyPrescriptions lambda.
  packages/common/testing/src/index.ts
  packages/common/testing/src/mockStateMachineInputEvent.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-common-testing

AEA-3899 Misc self-review bits.
  .vscode/prescriptionsforpatients.code-workspace
  packages/common/testing/src/index.ts
  packages/enrichPrescriptions/.vscode/launch.json
Due: lint-common-testing

AEA-3899 Neatened-up output from GSU call.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

use dummy spine
  .github/workflows/pull_request.yml
Due: none

remove ca check
  packages/getMyPrescriptions/src/eps-spine-client/index.ts
  packages/getMyPrescriptions/src/eps-spine-client/live-spine-client.ts
  packages/getMyPrescriptions/src/eps-spine-client/spine-client.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

fix lint
  packages/getMyPrescriptions/src/eps-spine-client/sandbox-spine-client.ts
  packages/getMyPrescriptions/src/eps-spine-client/status.ts
Due: lint-getMyPrescriptions

AEA-3899 Roll-back changes to DistanceSelling.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/src/fhirUtils.ts
Due: lint-getMyPrescriptions, lint-distanceSelling

AEA-3899 Dual handler approach.
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

connect to dummy
  .github/workflows/pull_request.yml
Due: none

AEA-3899 Using APIGatewayProxyResult for both responses.
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

AEA-3899 Removed incorrect line from asl.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

AEA-3899 Updated handler to use in SAM template.
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Rename state machine handler to just handler.
  SAMtemplates/main_template.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

AEA-3899 Add parsing step for output of GetMyPrescriptions.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: lint-samtemplatess

AEA-3899 Stringified body in enrich prescriptions response.
  packages/enrichPrescriptions/src/responses.ts
  packages/enrichPrescriptions/tests/data/unalteredResponseBundle.json
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates
