Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-splunkProcessor:
  name: Lint Splunk Processor
  entry: npm
  args:
  - run
  - --prefix=packages/splunkProcessor
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

correct name of log group for api gw logging
  cloudformation/account_resources.yml
  sandbox_template.yaml
  template.yaml
Due: none

fix all log group names
  cloudformation/account_resources.yml
Due: none

AEA-3444 correct name of log group for api gw logging (#143)
  cloudformation/account_resources.yml
  sandbox_template.yaml
  template.yaml
Due: none

add delete log delivery permission
  cloudformation/ci_resources.yml
Due: none

add delete log delivery permission (#144)
  cloudformation/ci_resources.yml
Due: none

return top level status on status endpoint
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

use common module for mock event
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

fix lint
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

fail status
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

skip tests for now
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/tests/live-spine-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient

fail healthcheck
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

allow override of health endpoint
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient

do not use agent for custom health check
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

updates compatability statement
  packages/capabilityStatement/examples/CapabilityStatement/apim-medicines-prescriptionsforpatients.json
Due: lint-capabilityStatement

AEA-3465 Update Capability Statement to correct the reference to the OAS in the example (#146)
  packages/capabilityStatement/examples/CapabilityStatement/apim-medicines-prescriptionsforpatients.json
Due: lint-capabilityStatement

AEA-3508 return top level status on status endpoint (#145)
  packages/spineClient/src/live-spine-client.ts
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda, lint-spineClient

Made sonar cloud include test coverage
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/quality_checks.yml
  packages/capabilityStatement/package.json
  packages/getMyPrescriptions/package.json
  packages/middleware/package.json
  packages/sandbox/package.json
  packages/splunkProcessor/package.json
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-capabilityStatement, lint-sandbox

Added sonar token to job
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Made job accept sonar token
  .github/workflows/quality_checks.yml
Due: none

Added sonar cloud config file
  sonar-project.properties
Due: none

Did full checkout for sonar cloud
  .github/workflows/quality_checks.yml
Due: none

Added readme info for sonar token
  README.md
Due: none

Made sonar cloud include test coverage (#148)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  README.md
  packages/capabilityStatement/package.json
  packages/getMyPrescriptions/package.json
  packages/middleware/package.json
  packages/sandbox/package.json
  packages/splunkProcessor/package.json
  sonar-project.properties
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-capabilityStatement, lint-sandbox

Made root tsconfig file not grab all ts files for sonar cloud
  packages/capabilityStatement/tsconfig.json
  packages/common/testing/tsconfig.json
  packages/getMyPrescriptions/tsconfig.json
  packages/middleware/tsconfig.json
  packages/sandbox/tsconfig.json
  packages/spineClient/tsconfig.json
  packages/splunkProcessor/tsconfig.json
  packages/statusLambda/tsconfig.json
  tsconfig.defaults.json
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient

turning on sonar debug mode
  sonar-project.properties
Due: none

Deduped file names to hopefully help with coverage
  packages/capabilityStatement/package.json
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
  packages/splunkProcessor/package.json
  packages/splunkProcessor/src/splunkProcessor.js
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
  sandbox_template.yaml
  template.yaml
  template_splunk_firehose.yaml
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-statusLambda, lint-capabilityStatement, lint-sandbox

Fixed references from tests
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/splunkProcessor/tests/transformLogEvent.test.js
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-statusLambda, lint-capabilityStatement

missed one
  packages/sandbox/tests/test-handler.test.ts
Due: lint-sandbox

Fixed sandbox template
  sandbox_template.yaml
Due: none

Turned off verbose mode again
  sonar-project.properties
Due: none

Removed unnecessary tsconfig file
  packages/splunkProcessor/tsconfig.json
Due: lint-splunkProcessor

Removed reference to deleted tsconfig
  template_splunk_firehose.yaml
Due: none

Made root tsconfig file not grab all ts files for sonar cloud (#149)
  packages/capabilityStatement/package.json
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/capabilityStatement/tsconfig.json
  packages/common/testing/tsconfig.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/middleware/tsconfig.json
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/test-handler.test.ts
  packages/sandbox/tsconfig.json
  packages/spineClient/tsconfig.json
  packages/splunkProcessor/package.json
  packages/splunkProcessor/src/splunkProcessor.js
  packages/splunkProcessor/tests/transformLogEvent.test.js
  packages/splunkProcessor/tsconfig.json
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/tsconfig.json
  sandbox_template.yaml
  template.yaml
  template_splunk_firehose.yaml
  tsconfig.defaults.json
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient

Excluded test files from sonar coverage and standardized test file names
  packages/middleware/jest.config.ts
  packages/middleware/tests/index.test.js
  sonar-project.properties
Due: lint-middleware

[AEA-3509] updated problem log and added new log level env var
  packages/getMyPrescriptions/src/app.ts
  sandbox_template.yaml
  template.yaml
Due: lint-getMyPrescriptions

[AEA-3509] updated pipleine to populate new log level env var
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
Due: none

Fixed jest config for js sub project
  packages/middleware/jest.config.ts
Due: lint-middleware

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-splunkProcessor: any of: ^packages\/splunkProcessor and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
