Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

moved regression tests workflow into it's own workflow
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

made regression tests workflow run only if same_release_code is successful
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

Fixed bug in script that would try to test against PFP-APIGEE instead of PFP-AWS
  scripts/run_regression_tests.py
Due: none

adding name to regression tests workflow step
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

fix dependency update for spine client
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-statusLambda

correct casing
  .github/workflows/ci.yml
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  README.md
  package-lock.json
Due: lint-githubactions

more casing
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/status.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-statusLambda

Notes added by 'git notes add'
  b2c958352d0c39e58594bbdd6a747219a1e92b2d
Due: none

Fix: [AEA-0000] - fix casing for spine client dependency (#1257)
  .github/workflows/ci.yml
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  README.md
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/status.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
Due: lint-statusLambda, lint-githubactions

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int-sandbox
  _data/int-sandbox_deployments.csv
  _data/int-sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
