Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-enrichPrescriptions:
  name: Lint enrichPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/enrichPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-pfp-sandbox
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-utilities:
  name: Lint common utilities
  entry: npm
  args:
  - run
  - --prefix=packages/common/utilities
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - cfn-lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - actionlint
  language: system
  pass_filenames: false

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

ops: migrate ci and release workflows to CDK
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  zizmor.yml
Due: lint-githubactions

ops: remove tmp workflow dispatch
  .github/workflows/ci.yml
Due: lint-githubactions

chore: correct APIGEE name, use const api name
  packages/cdk/bin/PfPApiApp.ts
  packages/cdk/bin/PfPApiSandboxApp.ts
  packages/cdk/constants.ts
  packages/cdk/scripts/deleteMainStacks.ts
  packages/cdk/scripts/deletePrStacks.ts
  packages/cdk/tsconfig.json
Due: none

ops: delete old pr stacks, latest common workflows
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

chore: npm audit fix
  package-lock.json
Due: none

chore: rm trivy.yaml
  trivy.yaml
Due: none

chore: zizmor
  zizmor.yml
Due: none

ops: delete old proxygen
  package-lock.json
  packages/cdk/package.json
  packages/specification/deleteProxygenDeployments.ts
  packages/specification/package.json
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

use new imports
  SAMtemplates/alarms/main.yaml
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/functions/lambda_resources.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/state_machines/main.yaml
  SAMtemplates/state_machines/state_machine_resources.yaml
Due: lint-samtemplates

fix
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

fix all exports
  .github/scripts/delete_proxygen_deployments.sh
  .github/scripts/deploy_api.sh
  .github/scripts/release_code.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

Notes added by 'git notes add'
  34ee4dddca379ac78b5e99d037eda2352ebae446
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

chore: bump middy, powertools, fhir middy dependencies
  package-lock.json
  packages/capabilityStatement/package.json
  packages/common/utilities/package.json
  packages/distanceSelling/package.json
  packages/enrichPrescriptions/package.json
  packages/getMyPrescriptions/package.json
  packages/nhsd-pfp-sandbox/package.json
  packages/serviceSearchClient/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
