Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates

add release tag to github run summary (#599)
  .github/workflows/release.yml
Due: none

AEA-3622 Removed shellcheck ref from ignore statement.
  .github/workflows/pr-link.yml
Due: none

AEA-3622 Tidying in mark_jira_released action.
  .github/actions/mark_jira_released/action.yml
  .github/scripts/call_mark_jira_released.sh
Due: none

AEA-3622 Removed unused dry run flag.
  .github/actions/mark_jira_released/action.yml
  .github/scripts/call_mark_jira_released.sh
Due: none

AEA-3622 Removed another unused dry run flag.
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
Due: none

fix pr template
  .github/pull_request_template.md
Due: none

remove unused details from pull request template (#600)
  .github/pull_request_template.md
Due: none

force stack deploy
  SAMtemplates/lambda_resources.yaml
Due: lint-samtemplatess

add data protection policy
  SAMtemplates/lambda_resources.yaml
Due: lint-samtemplatess

log message as NhsNumber
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

fix masking
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

custom policy
  SAMtemplates/lambda_resources.yaml
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient, lint-samtemplatess

AEA-3622 Caught missing working dirs in script steps.
  .github/actions/update_confluence_jira/action.yml
Due: none

replaces middy error handler with NPM published package
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  package-lock.json
  package.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/capabilityStatement/tsconfig.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/middleware/.eslintrc
  packages/middleware/.vscode/launch.json
  packages/middleware/.vscode/settings.json
  packages/middleware/jest.config.ts
  packages/middleware/jest.debug.config.ts
  packages/middleware/package.json
  packages/middleware/src/index.d.ts
  packages/middleware/src/index.js
  packages/middleware/tests/index.test.js
  packages/middleware/tsconfig.json
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tsconfig.json
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
  sonar-project.properties
  tsconfig.build.json
Due: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox

updates package-lock
  package-lock.json
Due: none

AEA-3622 Removed disabled shellcheck errors.
  .github/scripts/release_code.sh
  .github/workflows/pr-link.yml
Due: none

AEA-3622 Fix GitHub actionlint errors and enable (#579)
  .devcontainer/Dockerfile
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/delete_stacks.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/scripts/release_code.sh
  .github/workflows/adhoc_create_release_notes.yml
  .github/workflows/create_confluence_release_notes.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  .pre-commit-config.yaml
  Makefile
Due: none

fix creating release notes
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/sam_release_code.yml
Due: none

fix if
  .github/actions/update_confluence_jira/action.yml
Due: none

Fix if statements in GitHub action for creating release notes (#622)
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/sam_release_code.yml
Due: none

AEA-3622 Fixed reading into array in script.
  .github/scripts/delete_stacks.sh
Due: none

AEA-3622 Fixed flag ordering on read command.
  .github/scripts/delete_stacks.sh
Due: none

Fix delete_old_cloudformation_stacks script (#632)
  .github/scripts/delete_stacks.sh
Due: none

AEA-3622 Using mapfile to create array from aws cli response.
  .github/scripts/delete_stacks.sh
Due: none

Fix delete_old_cloudformation_stacks script - Part Deux (#633)
  .github/scripts/delete_stacks.sh
Due: none

Add install eps-spine-client package step
  .github/workflows/quality_checks.yml
Due: none

Add eps-spine-client package
  package-lock.json
  package.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda

Change eps-spine-client package owner
  .github/workflows/quality_checks.yml
Due: none

Move the required files
  packages/getMyPrescriptions/src/extractNHSNumber.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/extractNHSNumber.test.ts
  packages/getMyPrescriptions/tests/live-spine-client.test.ts
  packages/getMyPrescriptions/tests/status.test.ts
Due: lint-getMyPrescriptions

Remove spineClient package
  .pre-commit-config.yaml
  Makefile
  README.md
  package-lock.json
  package.json
  packages/distanceSelling/tsconfig.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/spineClient/.eslintrc
  packages/spineClient/.vscode/launch.json
  packages/spineClient/.vscode/settings.json
  packages/spineClient/jest.config.ts
  packages/spineClient/jest.debug.config.ts
  packages/spineClient/package.json
  packages/spineClient/src/extractNHSNumber.ts
  packages/spineClient/src/index.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/sandbox-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/spineClient/src/status.ts
  packages/spineClient/tsconfig.json
  packages/statusLambda/package.json
  packages/statusLambda/tsconfig.json
  sonar-project.properties
  tsconfig.build.json
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient, lint-distanceSelling

Add eps-spine-client test package
  package-lock.json
  package.json
Due: none

Update package files
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Add the logger info nhsNumber
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Fix live-spine-client tests
  packages/getMyPrescriptions/tests/live-spine-client.test.ts
Due: lint-getMyPrescriptions

Add NHSDigital eps-spine-client GitHub package
  .npmrc
  package-lock.json
  package.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/live-spine-client.test.ts
  packages/getMyPrescriptions/tests/status.test.ts
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda

Add eps-spine-client install step to sam_package_code workflow
  .github/workflows/sam_package_code.yml
Due: none

Remove .npmrc file
  .npmrc
Due: none

Restore .npmrc file
  .npmrc
Due: none

Amend .npmrc file
  .npmrc
Due: none

Update eps-spine-client step in workflows
  .github/workflows/quality_checks.yml
  .github/workflows/sam_package_code.yml
Due: none
