Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates

preserves prescriber cancelled status
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

replaces date with momentjs
  package-lock.json
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/src/statusUpdates.ts
Due: none

specifies utc on moments
  packages/enrichPrescriptions/src/statusUpdates.ts
Due: none

Docs: [AEA-0000] - update postman collection (#966)
  Makefile
  README.md
  postman/prescriptions_for_patients.postman_collection.json
Due: none

updated get_secrets and eps-spine-client
  .devcontainer/devcontainer.json
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

updates log and comment
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

updates test names
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

fixes cancelled status typo
  packages/enrichPrescriptions/src/statusUpdates.ts
Due: none

asserts single status extension
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

removes impossible test
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

refactors tests to avoid code duplication
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

test naming
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

removes unused field
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

new spine client
  .devcontainer/devcontainer.json
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Fix: [AEA-4175] - updated get_secrets and eps-spine-client (#982)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

pr title check
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
Due: none

update template
  .github/pull_request_template.md
Due: none

Fix: [AEA-0000] - add check for title of pull requests (#990)
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
Due: none

uses prescription id
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

New: [AEA-4039] - Delay 'With Pharmacy' status for 60 minutes (#963)
  .devcontainer/devcontainer.json
  .eslintrc
  package-lock.json
  package.json
  packages/common/testing/.eslintrc
  packages/distanceSelling/.eslintrc
  packages/enrichPrescriptions/.eslintrc
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
  packages/getMyPrescriptions/.eslintrc
  packages/sandbox/.eslintrc
  packages/serviceSearchClient/.eslintrc
  packages/statusLambda/.eslintrc
Due: none

fix
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

removes unnecessary assertions
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Fix: [AEA-4163] - Multiple Status returned for Released Prescriptions (#999)
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

AEA-4184 Using uppercase items ids when checking for existence of prescription updates.
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/rich/statusUpdates.json
  packages/enrichPrescriptions/tests/data/simple/statusUpdates.json
Due: none

AEA-4047 Rough first draft.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/utils.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

log operation outcomes
  packages/getMyPrescriptions/src/fhirUtils.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

ignore duplicates in test file
  sonar-project.properties
Due: none

put all logging tests together
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

Fix: [AEA-4184] - Unable to find lowercase item ids (#1015)
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/rich/statusUpdates.json
  packages/enrichPrescriptions/tests/data/simple/statusUpdates.json
Due: none

AEA-4047 Further correction to Prescriber Cancelled status.
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions

Fix: [AEA-4186] - log operation outcomes (#1016)
  packages/getMyPrescriptions/src/fhirUtils.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  sonar-project.properties
Due: lint-getMyPrescriptions

AEA-4047 Use canned data for Spine response.
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-4047 Skip new test.
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-4047 Use gsul from temp stack.
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-4047 SAM template corrections.
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

update dependency
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Update: [AEA-0000] - update get_secrets and spine_client (#1028)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

AEA-4047 Add status extension to canned data.
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

AEA-4047 Remove test re-introduced by merge.
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions
