Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-updatePrescriptionStatus
        name: Lint updatePrescriptionStatus
        entry: npm
        args: ["run", "--prefix=packages/updatePrescriptionStatus", "lint"]
        language: system
        files: ^packages\/updatePrescriptionStatus
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-gsul
        name: Lint gsul
        entry: npm
        args: ["run", "--prefix=packages/gsul", "lint"]
        language: system
        files: ^packages\/gsul
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-samtemplates
        name: Lint sam templates
        entry: make
        args: ["lint-samtemplates"]
        language: system
        files: ^SAMtemplates
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [commit]

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for int-sandbox
  _data/int-sandbox_deployments.csv
  _data/int-sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

chore: new ssm params to support tests
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

chore: add pre-shared NHS numbers for testing
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

chore: lookup TC008 nhs number
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: none

chore: centralise lambda config
  packages/getMyPrescriptions/src/config.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/config.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: none

chore: expand config for all 3 params
  packages/getMyPrescriptions/src/config.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/config.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/testFixtures.ts
Due: none

chore: explicit dep on aws ssm
  packages/getMyPrescriptions/package.json
Due: none

Add in other test cases
  .pre-commit-config.yaml
  Makefile
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/common/tests/src/test_mime_type.ts
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
Due: none

Fix test setup exclusion
  packages/enrichPrescriptions/tsconfig.json
Due: none

Correct compile
  package.json
  packages/common/tests/package.json
  packages/common/tests/src/helloWorldContext.ts
  packages/common/tests/src/index.ts
Due: none

Switch to common/tests and add in TC007 test case
  jest.default.config.ts
  packages/capabilityStatement/package.json
  packages/common/tests/package.json
  packages/common/tests/src/index.ts
  packages/distanceSelling/package.json
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/config.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/testFixtures.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/serviceSearchClient/package.json
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-statusLambda

Use common/tests import
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: none

Rename tests to testing to differentiate
  SAMtemplates/parameters/main.yaml
  jest.default.config.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/tests/package.json
  packages/common/utilities/jest.config.ts
  packages/common/utilities/tests/config.test.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.defaults.json
Due: lint-statusLambda, lint-samtemplates

Get common utilities tests working
  README.md
  packages/common/utilities/jest.config.ts
  packages/common/utilities/package.json
  packages/common/utilities/tests/config.test.ts
  packages/common/utilities/tsconfig.json
Due: none

Move common logic package to common/utilities to distinguish
  Makefile
  jest.default.config.ts
  package-lock.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/tests/package.json
  packages/common/tests/src/test_fixtures.ts
  packages/common/utilities/jest.config.ts
  packages/common/utilities/jest.debug.config.ts
  packages/common/utilities/package.json
  packages/common/utilities/src/config.ts
  packages/common/utilities/src/index.ts
  packages/common/utilities/testing/config.test.ts
  packages/common/utilities/tsconfig.json
  packages/distanceSelling/package.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-statusLambda

Rename to agreed pfp-common
  jest.default.config.ts
  package-lock.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/testing/package.json
  packages/common/testing/src/test_fixtures.ts
  packages/common/utilities/jest.config.ts
  packages/common/utilities/package.json
  packages/common/utilities/tests/config.test.ts
  packages/distanceSelling/package.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.defaults.json
Due: lint-statusLambda

Env var the parameters, for easier admin via github
  .github/scripts/release_code.sh
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates, lint-githubactions

Move to /testing
  .pre-commit-config.yaml
  Makefile
  jest.default.config.ts
  package-lock.json
  package.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tsconfig.json
  packages/common/testing/package.json
  packages/common/testing/src/helloWorldContext.ts
  packages/common/testing/src/index.ts
  packages/common/testing/src/mockAPIGatewayProxyEvent.json
  packages/common/testing/src/mockAPIResponseBody.json
  packages/common/testing/src/mockInteractionResponseBody.json
  packages/common/testing/src/mockServiceSearchResponseBodyPharmacy2u.json
  packages/common/testing/src/mockServiceSearchResponseBodyPharmica.json
  packages/common/testing/src/mockStateMachineInputEvent.json
  packages/common/testing/src/test_append_trace_id.ts
  packages/common/testing/src/test_fixtures.ts
  packages/common/testing/src/test_mime_type.ts
  packages/common/testing/tsconfig.json
  packages/common/utilities/jest.config.ts
  packages/distanceSelling/package.json
  packages/distanceSelling/tsconfig.json
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/tsconfig.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tsconfig.json
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/tsconfig.json
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/tsconfig.json
  packages/statusLambda/tsconfig.json
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-statusLambda

Fix dep reference
  packages/getMyPrescriptions/tsconfig.json
Due: none

Clean up
  README.md
  package-lock.json
  sonar-project.properties
Due: none

Set default once
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

Fix missing vars
  .devcontainer/Dockerfile
  .github/config/settings.yml
  .github/workflows/ci.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_package_code.yml
  .tool-versions
  .tool-versions.asdf
  package-lock.json
  package.json
  release.config.js
  releaseNotesTemplates/commit.hbs
Due: lint-githubactions

Add required SSM read permissions to associated lambdas
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Fix sam template
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

fix sam list
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

yaml is a nightmare
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

change to sub
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

fix env var
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

resolve parameter inputs into resources
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

Fix list issue
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Set stack name on env var for all lambda
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

Use pre-existing ssm policy
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

change to sub for both
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates
