Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates

AEA-3899 Closer to original implementation. Re-added middy error handler.
  package-lock.json
  packages/common/testing/src/mockStateMachineInputEvent.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-common-testing

AEA-3899 Some tidying.
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3899 Deploying both apigw and state machine lambdas.
  SAMtemplates/main_template.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

[AEA-3877] review comments
  .github/scripts/delete_stacks.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: none

AEA-3899 Swap default statuses. Only update prescriptions referenced in status update data.
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/rich/responseBundle.json
  packages/enrichPrescriptions/tests/data/rich/statusUpdates.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

[AEA-3877] added comments about new endpoints
  SAMtemplates/apis/main.yaml
Due: lint-samtemplatess

AEA-3899 Tweak to response types.
  packages/enrichPrescriptions/src/responses.ts
  packages/getMyPrescriptions/src/responses.ts
Due: lint-getMyPrescriptions

[AEA-3877] fixing liniting command
  Makefile
Due: none

updates packages
  Makefile
  README.md
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Update common libraries 01052024 (#850)
  Makefile
  README.md
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Chore: [AEA-3877] SAM stack name change and refactor (#820)
  .github/scripts/delete_stacks.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/apis/main.yaml
  SAMtemplates/functions/lambda_resources.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/lambda_resources.old.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  SAMtemplates/state_machines/main.yaml
  SAMtemplates/state_machines/state_machine_resources.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

parameterises truststore file
  .github/workflows/pull_request.yml
  Makefile
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

swapped to test truststore files
  .github/workflows/pull_request.yml
Due: none

testing trustore
  .github/workflows/pull_request.yml
Due: none

re-disable mtls
  .github/workflows/pull_request.yml
Due: none

Fix: [AEA-3877] - Fix clashing truststore files (#855)
  Makefile
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

AEA-3899 Changes on top of CF refactor.
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Fix a couple of SAM template errors.
  SAMtemplates/functions/main.yaml
  SAMtemplates/lambda_resources.old.yaml
Due: lint-samtemplatess

AEA-3899 Removed changes to old lambda resources.
  SAMtemplates/lambda_resources.old.yaml
Due: lint-samtemplatess

AEA-3899 Explicit TOGGLE_GET_STATUS_UPDATES values moved onto 'new' workflow jobs.
  .github/workflows/release.yml
Due: none

AEA-3899 The remaining explicit TOGGLE_GET_STATUS_UPDATES value moved onto 'new' workflow job.
  .github/workflows/pull_request.yml
Due: none

AEA-3899 Removed Output path from Enrich Prescriptions stage in state machine.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

AEA-3899 Removed unnecessary secrets-layer globals from SAM templates.
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.old.yaml
Due: lint-samtemplatess

AEA-3899 Reverted upgrade of es in ts config. Removed unused packages from new lambda.
  SAMtemplates/functions/main.yaml
  package-lock.json
  packages/enrichPrescriptions/package.json
  tsconfig.defaults.json
Due: lint-samtemplatess

AEA-3899 Export toggle policy arn.
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Rename new handler to stateMachineHandler.
  SAMtemplates/functions/main.yaml
  SAMtemplates/state_machines/main.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

AEA-3899 Fix for export name.
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplatess

AEA-3899 Re-added those globals. Derp.
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.old.yaml
Due: lint-samtemplatess

Updated secrets
  Makefile
Due: none

Updated with new versions
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Updated secrets 08/05/24 (#869)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

AEA-3899 Added extra catch in state machine.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

correct dns names for sandbox deploy
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

add param for all env
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

pass params everywhere
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

AEA-3899 Removed ssm parameter. Passing env var through from getMyPrescriptions lambda.
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  SAMtemplates/state_machines/main.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

AEA-3899 Corrected state machine definition.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess
