Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Allow setting of NHS number within Spine query, NON PROD
  .devcontainer/Dockerfile
  .github/scripts/release_code.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  packages/getMyPrescriptions/src/extractNHSNumber.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/utils.ts
Due: lint-samtemplates, lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Actually call the function
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: none

Only run AWS-APIGEE or Non proxygen but still on Apigee API, if toggle set. As no PR environment exists for it
  .github/workflows/ci.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

Up reg test version
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Test without override
  .github/workflows/pull_request.yml
Due: lint-githubactions

Treat a bool as a bool
  .github/scripts/release_code.sh
Due: none

It's not behaving like a bool
  .github/scripts/release_code.sh
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: none

Switch back to true
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Add non-proxygen testing wherever proxygen API gets deployed
  .github/workflows/release.yml
Due: lint-githubactions

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Raise an environment and test the regression apigee addition script
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  629ce830479724c936b2f6dd71eaec22adedf7e9
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
