Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates

refactor
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/utils.ts
Due: lint-getMyPrescriptions

updates service search timeout
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

removes Milliseconds type
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/utils.ts
Due: lint-getMyPrescriptions

handles empty job return types
  packages/getMyPrescriptions/src/utils.ts
Due: lint-getMyPrescriptions

updates timeout coding
  packages/getMyPrescriptions/src/responses.ts
Due: lint-getMyPrescriptions

fixes test status code
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

timeout tests
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

sets devcontainer default tab spacing
  .devcontainer/devcontainer.json
Due: none

renames response
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
Due: lint-getMyPrescriptions

fixes sonarcloud issue
  packages/getMyPrescriptions/src/utils.ts
Due: lint-getMyPrescriptions

rough first attempt
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

typo
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

refactors responses and reworks timeouts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/src/utils.ts
Due: lint-getMyPrescriptions

undoes aea-3876 service search timeout
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/utils.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

[AEA-3862] Reduce PfP API Timeout (#756)
  .devcontainer/devcontainer.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/src/utils.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

adds service search timeout
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/utils.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

[AEA-3876] Forget Service Search request if no response in 5 seconds (#763)
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/utils.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3899 Added state machine to SAM templates.
  .github/workflows/sam_package_code.yml
  Makefile
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  SAMtemplates/state_machines/main.yaml
  SAMtemplates/state_machines/state_machine_resources.yaml
Due: lint-samtemplatess

AEA-3899 Fix cfn-lint issues.
  Makefile
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

AEA-3899 Add missing ExecuteLambdaPolicyArn.
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Pass-through StackName to lambda_resources.
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Defaulted StackName.
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Defaulted StackName better.
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Added missing LambdaArn params to lambdas.
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

AEA-3899 Rough additions to state machine.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

AEA-3899 Boilerplate for enrichPrescriptions lambda.
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  package-lock.json
  package.json
  packages/enrichPrescriptions/.eslintrc
  packages/enrichPrescriptions/.vscode/launch.json
  packages/enrichPrescriptions/.vscode/settings.json
  packages/enrichPrescriptions/jest.config.ts
  packages/enrichPrescriptions/jest.debug.config.ts
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/utils.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tsconfig.json
  sonar-project.properties
  tsconfig.build.json
Due: lint-samtemplatess

update to latest get secrets
  Makefile
Due: none

update eps-spine-client
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

update package-lock.json
  package-lock.json
Due: none

upgrade to latest get secrets and spine client (#799)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

[AEA-3877] added refactor directy structure and split out functions
  Makefile
  SAMtemplates/apis/main.yaml
  SAMtemplates/functions/lambda_resources.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

AEA-3899 Added statusUpdateData to lambda response body.
  packages/common/testing/src/mockAPIResponseBody.json
  packages/distanceSelling/src/index.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/src/utils.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/utils.ts
  tsconfig.defaults.json
Due: lint-getMyPrescriptions, lint-distanceSelling, lint-common-testing

AEA-3899 Moved statusUpdate code into own file and added unit test.
  packages/common/testing/src/mockInteractionResponseBody.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/src/utils.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-common-testing

[AEA-3877] added templates for state machines
  SAMtemplates/functions/lambda_resources.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.as.json
  SAMtemplates/state_machines/main.yaml
  SAMtemplates/state_machines/state_machine_resources.yaml
Due: lint-samtemplatess

AEA-3899 Removed middy error handler from getMyPrescriptions.
  package-lock.json
  packages/common/testing/src/mockAPIResponseBody.json
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-common-testing

AEA-3899 Changed return type for getMyPrescriptions lambda.
  packages/common/testing/src/mockAPIResponseBody.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-common-testing

AEA-3899 Added asl from StateMachine console.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

AEA-3899 Some tweaks in asl.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

[AEA-3877] pulled out initial apigw resources
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Added ExecuteLambdaPolicy using outputs from psu stack. Temporarily using psu-ab-1 stack.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess
