Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates

AEA-3622 Placeholder scripts. Suitably chmodded and git index updated.
  .github/scripts/create_int_release_notes.sh
  .github/scripts/create_prod_release_notes.sh
  .github/scripts/get_dev_tag.sh
Due: none

AEA-3622 Using new scripts in create_confluence_release_notes workflow.
  .github/scripts/create_int_release_notes.sh
  .github/scripts/create_prod_release_notes.sh
  .github/scripts/get_dev_tag.sh
  .github/workflows/create_confluence_release_notes.yml
Due: none

AEA-3622 Tweaks to scripts, removing multi-lines.
  .github/scripts/create_int_release_notes.sh
  .github/scripts/create_prod_release_notes.sh
  .github/scripts/delete_stacks.sh
  .github/scripts/release_code.sh
Due: none

AEA-3766 log response times on failures (#571)
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient, lint-serviceSearchClient

AEA-3767 use clear state when using inject lambda context (#573)
  package-lock.json
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/toMatchJsonLogMessage.ts
  packages/sandbox/src/sandbox.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

AEA-3622 Added cats for out.txt files from lambda invoke.
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
Due: none

AEA-3622 Error in cd caught by Ant.
  .github/scripts/release_code.sh
Due: none

AEA-3622 Removed redundant files.
  .github/scripts/create_int_release_notes.sh
  .github/scripts/create_prod_release_notes.sh
  .github/scripts/get_dev_tag.sh
  .github/workflows/adhoc_create_release_notes.yml
  .github/workflows/create_confluence_release_notes.yml
Due: none

[AEA-3755] update references to account resources stacks
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

AEA-3622 Made sparse checkout a bit less sparse.
  .github/workflows/sam_release_code.yml
Due: none

[AEA-3755] update references to account resources stacks
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

[AEA-3755] remove managed policy name
  SAMtemplates/lambda_resources.yaml
Due: lint-samtemplatess

[AEA-3755] Moved lambda resources to account resources (#572)
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

force creation of managed policy
  SAMtemplates/lambda_resources.yaml
Due: lint-samtemplatess

force creation of managed policy in lambda resources (#582)
  SAMtemplates/lambda_resources.yaml
Due: lint-samtemplatess

AEA-3622 Script added for call_mark_jira_released.
  .github/actions/mark_jira_released/action.yml
  .github/scripts/call_mark_jira_released.sh
Due: none

AEA-3622 Consistent use of input syntax.
  .github/actions/update_confluence_jira/action.yml
Due: none

AEA-3622 Added inputs to env vars for each step in action.
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
Due: none

AEA-3622 Added get_target_deployed_tag script. Chmodded etc.
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/get_target_deployed_tag.sh
Due: none

AEA-3622 Added get_current_dev_tag script. Chmodded etc.
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/get_current_dev_tag.sh
Due: none

AEA-3622 Added script create_int_release_notes and sorted out variable exports.
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/create_int_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/release.yml
Due: none

AEA-3622 Added create_int_rc_release_notes script.
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/create_int_rc_release_notes.sh
Due: none

AEA-3622 Added create_prod_release_notes script.
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/create_prod_release_notes.sh
Due: none

AEA-3622 Consolidated env release notes scripts.
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/create_prod_release_notes.sh
Due: none

AEA-3622 Removed SPLUNK_HEC_TOKEN and SPLUNK_HEC_ENDPOINT.
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
Due: none

AEA-3622 Whitespace in script for tidiness.
  .github/scripts/call_mark_jira_released.sh
Due: none

test failure
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

log before error
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

trigger error in calling
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

no tests for me
  .github/workflows/quality_checks.yml
Due: none

safely get header
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

revert quality checks
  .github/workflows/quality_checks.yml
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient

fix quality checks
  .github/workflows/quality_checks.yml
Due: none

fix web client
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient, lint-serviceSearchClient

fix web client
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

test failure (#591)
  .github/workflows/quality_checks.yml
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient, lint-serviceSearchClient

add release tag to github run output
  .github/workflows/release.yml
Due: none

AEA-3622 Made asdf commands consistent in Dockerfile.
  .devcontainer/Dockerfile
Due: none
