Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-samtemplatess:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

removed import value
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

removed an unncessary import value
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

removed unncessary join
  SAMtemplates/state_machines/main.yaml
Due: lint-samtemplatess

Add the initial comment
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

updates common libraries
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Upgrade: [AEA-0000] - Upgrades Common Libraries (#1118)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Add logging for timeouts in the searchService method
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Add logging of detailed error information
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Amend a unit test for a timeout error
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient

Add a check for the ECONNABORTED error code to the response interceptor
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Add logs to capture axios error
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Add a log entry to confirm response received
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Move the log immediately before returning the response
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Ensure that error is treated as an AxiosError when calling stripApiKeyFromHeaders
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Restore live-serviceSearch-client logic and format the code
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient

Amend axios error handling
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Add the AxiosResponse type
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Add logs to check if axios interceptors are triggered
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Add serviceSearch request timeout log to the getMyPrescriptions lambda
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Ammend the serviceSearch request timed out log
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-getMyPrescriptions, lint-serviceSearchClient

Change serviceSearch request timed out log to error
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Add timeout to the log message
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

updates package-lock
  package-lock.json
Due: none

updates poetry lock
  poetry.lock
Due: none

Upgrade: [AEA-0000] - Dependency upgrades (#1132)
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

Change the log type to warn
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

add security.md
  SECURITY.md
Due: none

Fix: [AEA-3984] - Logs for Service Search timeouts are not shown in Splunk (#1113)
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Docs: [AEA-4305] - add security.md (#1139)
  SECURITY.md
Due: none

bump
  package-lock.json
  package.json
Due: none

updating common libraries
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Upgrade: [AEA-0000] - Updating common libraries (#1161)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

update exclusions
  sonar-project.properties
Due: none

[AEA-4133] removing old stack
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  Makefile
  SAMtemplates/lambda_resources.old.yaml
  SAMtemplates/main_template.old.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

Fix: [AEA-4327] - Upgrade eslint (#1176)
  .devcontainer/devcontainer.json
  .eslintrc
  .vscode/prescriptionsforpatients.code-workspace
  eslint.config.mjs
  package-lock.json
  package.json
  packages/capabilityStatement/package.json
  packages/common/testing/package.json
  packages/common/testing/src/helloWorldContext.js
  packages/common/testing/src/test_mime_type.ts
  packages/distanceSelling/package.json
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/tests/testFhirUtils.test.ts
  packages/enrichPrescriptions/tests/utils.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/tempBundle.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/toMatchJsonLogMessage.ts
  packages/sandbox/package.json
  packages/serviceSearchClient/package.json
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
  sonar-project.properties
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates
