Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

chore: tmp ignore more minimatch cves
  .trivyignore.yaml
Due: none

Chore: [AEA-6270] - seek to reduce Service Search noise thru timeout and keep alive (#2424)
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient

Chore: [AEA-6165] - remove code to make service search v2 calls (#2422)
  .trivyignore.yaml
  SAMtemplates/functions/main.yaml
  packages/common/testing/src/mockServiceSearchResponseBodyPharmacy2u.json
  packages/common/testing/src/mockServiceSearchResponseBodyPharmica.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-samtemplates

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Notes added by 'git notes add'
  3ac1f420482b21c3148fa1f80b9b7e9e328402c7
Due: none

chore: bump to python 3.14
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
Due: none

chore: delete proxygen deployments
  .github/scripts/delete_proxygen_deployments.sh
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: lint-githubactions

chore: debugging
  .github/scripts/delete_proxygen_deployments.sh
Due: none

chore: correct private key stack
  .github/scripts/delete_proxygen_deployments.sh
Due: none
