Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates

AEA-4047 Simple test cases.
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/simple/statusUpdateData.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-4047 Complex test case.
  packages/enrichPrescriptions/src/fhirUtils.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-4047 Complex test case improved.
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

AEA-4047 Removed unnecessary test file.
  packages/enrichPrescriptions/tests/data/simple/statusUpdateData.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-4047 Test ods code and prescription id combo.
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

AEA-4047 Working handler test.
  .devcontainer/devcontainer.json
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-4047 Testing tweaks.
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

Add a unit test
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

AEA-4047 More testing tweaks.
  .vscode/prescriptionsforpatients.code-workspace
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

AEA-4047 More complex canned data.
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Remove a unit test
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

AEA-4047 Improvements to Big Test and comments to make it more readable.
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

enable_nppts_int
  .github/workflows/release.yml
Due: none

enable get status update in ref
  .github/workflows/release.yml
Due: none

Fix: [AEA-0000] - enable nppts in int and ref environment (#1038)
  .github/workflows/release.yml
Due: none

AEA-4047 Revert temporary changes and change StatusUpdateData to StatusUpdateRequest for clarity.
  SAMtemplates/state_machines/main.yaml
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

fix esbuild
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

Fix: [AEA-0000] - change esbuild to bundle dependendencies (#1042)
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

Add a unit test with a SYSTEM_DATETIME
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Parametrise a unit test for a terminal state flag set to completed
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Update node packages
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Upgrade: [AEA-0000] - Update node packages (#1055)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Add unit test for setting status to 'active' when terminal state is 'false' and latest status is 'Collected'
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Refactor unit tests
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Amend the UpdateItem interface
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Remove unnecessary unit test
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Fix: [AEA-4189] - Completed Terminal Status not returned in PFP (#1032)
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

AEA-4047 Stub-out getMyPrescriptions and point at failing gsu lambda.
  SAMtemplates/state_machines/main.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

AEA-4047 Introduce env var and switch in enrich prescriptions. Send catch to enrich prescriptions in state machine.
  SAMtemplates/functions/main.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
Due: lint-samtemplatess

AEA-4047 Test additions for update scenarios.
  SAMtemplates/functions/main.yaml
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: lint-samtemplatess

AEA-4047 Revert stubbing and pointing at failing lambda.
  SAMtemplates/state_machines/main.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

AEA-4047 Un-skipped test.
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions

New: [AEA-4047] - Set statuses to temporarily unavailable if nppts fails (#1024)
  .devcontainer/devcontainer.json
  .vscode/prescriptionsforpatients.code-workspace
  SAMtemplates/functions/main.yaml
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/fhirUtils.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testHandler.test.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

added dummy prescription
  .devcontainer/devcontainer.json
  SAMtemplates/state_machines/main.yaml
  packages/sandbox/examples/GetMyPrescriptions/Bundle/fhir-message.json
  packages/sandbox/tests/test-handler.test.ts
Due: lint-sandbox, lint-samtemplatess

Package updates.
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

Upgrade: [AEA-0000] - Package updates (#1083)
  Makefile
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-statusLambda

removed tests to pass
  Makefile
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions
