Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-getMyPrescriptions
        name: Lint getMyPrescriptions
        entry: npm
        args: ["run", "--prefix=packages/getMyPrescriptions", "lint"]
        language: system
        files: ^packages\/getMyPrescriptions
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-splunkProcessor
        name: Lint Splunk Processor
        entry: npm
        args: ["run", "--prefix=packages/splunkProcessor", "lint"]
        language: system
        files: ^packages\/splunkProcessor
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-middleware
        name: Lint Middleware
        entry: npm
        args: ["run", "--prefix=packages/middleware", "lint"]
        language: system
        files: ^packages\/middleware
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-capabilityStatement
        name: Lint capabilityStatement
        entry: npm
        args: ["run", "--prefix=packages/capabilityStatement", "lint"]
        language: system
        files: ^packages\/capabilityStatement
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-spineClient
        name: Lint spineClient
        entry: npm
        args: ["run", "--prefix=packages/spineClient", "lint"]
        language: system
        files: ^packages\/spineClient
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-getSecretLayer
        name: Lint getSecretLayer
        entry: make
        args: ["lint-go"]
        language: system
        files: ^packages\/getSecretLayer
        pass_filenames: false

fail_fast: true
default_stages: [commit]

different filter pattern
  template.yaml
Due: none

fix filter pattern on sandbox
  sandbox_template.yaml
Due: none

handle new format of returned message from spine
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-getMyPrescriptions, lint-spineClient

AEA-3449 handle new format of returned message from spine (#135)
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-getMyPrescriptions, lint-spineClient

use lambda insights
  template.yaml
Due: none

fix permissions
  template.yaml
Due: none

attach managed policy
  template.yaml
Due: none

[AEA-3348] adds trace id fields to logger, and tests to cover this
  packages/capabilityStatement/src/app.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/sandbox/src/app.ts
  packages/sandbox/tests/test-handler.test.ts
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

[AEA-3348] removed uneeded test log
  packages/capabilityStatement/src/app.ts
Due: lint-capabilityStatement

AEA-3348 - Enhance API AWS Lambda Logs (#134)
  packages/capabilityStatement/src/app.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/sandbox/src/app.ts
  packages/sandbox/tests/test-handler.test.ts
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

[AEA-3452] adds x-request-id to res body
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

[AEA-3452] minor refactor
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

AEA-3452 - adds x-request-id to res body (#137)
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

[AEA-3444] adds access logging config to http api
  template.yaml
Due: none

AEA-3446 enable versioning on splunk bucket (#133)
  cloudformation/ci_resources.yml
  packages/spineClient/src/status.ts
  sandbox_template.yaml
  template.yaml
  template_splunk_firehose.yaml
Due: lint-spineClient

[AEA-3444] added log group for apigw
  template.yaml
Due: none

adds spellchecker approved words
  .vscode/prescriptionsforpatients.code-workspace
Due: none

adds headers for middleware
  packages/middleware/src/index.js
  packages/middleware/tests/index.spec.js
Due: lint-middleware

adds headers to status lambda
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

fixes typos
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient

adds headers to sandbox
  packages/sandbox/src/app.ts
Due: lint-sandbox

updates tests
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

adds headers to getmyprescriptions
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

removes deprecated pragma header
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/middleware/src/index.js
  packages/middleware/tests/index.spec.js
  packages/sandbox/src/app.ts
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-sandbox

fixes bug
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

[AEA-3444] updated ci role with describe log groups permission
  cloudformation/ci_resources.yml
Due: none

resolves sonarcloud codesmell
  scripts/calculate_version.py
Due: none

resolves sonarcloud codesmell
  packages/splunkProcessor/src/app.js
Due: lint-splunkProcessor

spellchecker approved words
  .vscode/prescriptionsforpatients.code-workspace
Due: none

resolves sonarcloud codesmell
  packages/capabilityStatement/tests/test-handler.test.ts
Due: lint-capabilityStatement

fixes missed test
  packages/capabilityStatement/tests/test-handler.test.ts
Due: lint-capabilityStatement

fixes test bug
  packages/capabilityStatement/src/app.ts
Due: lint-capabilityStatement

fixes test bug
  packages/sandbox/tests/test-handler.test.ts
Due: lint-sandbox

[AEA-3444] removed unsupported context var
  template.yaml
Due: none

adds common package and moves gateway proxy event
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  package-lock.json
  package.json
  packages/common/.eslintrc
  packages/common/package.json
  packages/common/src/events/mockAPIGatewayProxyEvent.json
  packages/common/src/index.ts
  packages/common/tsconfig.json
  tsconfig.build.json
Due: none

moves getmyprescriptions to use common
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tsconfig.json
Due: lint-getMyPrescriptions

moves sandbox to use common
  packages/sandbox/package.json
  packages/sandbox/tests/test-handler.test.ts
  packages/sandbox/tsconfig.json
Due: lint-sandbox

[AEA-3444] updates ci role and adds iam policy for apigw logs
  cloudformation/ci_resources.yml
  template.yaml
Due: none

moves common to common/testing
  Makefile
  package-lock.json
  package.json
  packages/common/testing/.eslintrc
  packages/common/testing/package.json
  packages/common/testing/src/index.ts
  packages/common/testing/src/mockAPIGatewayProxyEvent.json
  packages/common/testing/tsconfig.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/sandbox/package.json
  packages/sandbox/tests/test-handler.test.ts
  packages/sandbox/tsconfig.json
  tsconfig.build.json
Due: lint-getMyPrescriptions, lint-sandbox

uses common library in capability statement
  .vscode/prescriptionsforpatients.code-workspace
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/capabilityStatement/tsconfig.json
Due: lint-capabilityStatement
