Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-splunkProcessor:
  name: Lint Splunk Processor
  entry: npm
  args:
  - run
  - --prefix=packages/splunkProcessor
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

Amend the unit test title
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

Change the logic in the isCertificateConfigured method
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

Make the code changes in accordance with the review comments
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/spineClient/src/sandbox-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient

Cleanup the code
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda

Add status pass to return for the cert not configured
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

AEA-3534 Modify Spine client code so that it doesn't call Spine if the Certificate is not configured (#166)
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/sandbox-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient

Add test comment
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Added prod hosted zone
  cloudformation/management_route53.yml
Due: none

Added prod hosted zone (#169)
  cloudformation/management_route53.yml
Due: none

refactor so lambda resources are common
  .pre-commit-config.yaml
  Makefile
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/splunk_firehose_resources.yaml
Due: none

update descriptions
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: none

set default region
  Makefile
Due: none

only allow access to spine secrets if needed
  Makefile
  README.md
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
Due: none

add log retention param
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/splunk_firehose_resources.yaml
Due: none

AEA-3598 ensure consistent log retention (#170)
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/splunk_firehose_resources.yaml
Due: none

lowercase stack name
  .github/workflows/pull_request.yml
Due: none

use lower case stack names for pull requests (#172)
  .github/workflows/pull_request.yml
Due: none

[AEA-3537] adds final and intermediary cloudformation files for resource migration
  cloudformation/ci_resources.yml
  cloudformation/ci_resources_dev_1.yml
  cloudformation/ci_resources_dev_2.yml
  cloudformation/ci_resources_int_1.yml
  cloudformation/ci_resources_int_2.yml
  cloudformation/ci_resources_prod_1.yml
  cloudformation/ci_resources_prod_2.yml
  cloudformation/ci_resources_qa_1.yml
  cloudformation/ci_resources_qa_2.yml
  cloudformation/ci_resources_ref_1.yml
  cloudformation/ci_resources_ref_2.yml
  cloudformation/resources_to_import.json
  cloudformation/resources_to_import.ref
Due: none

correct lastUpdated in error response
  packages/middleware/src/index.js
  packages/middleware/tests/index.test.js
Due: lint-middleware

[AEA-3537] adds resources_to_import for each env
  cloudformation/resources_to_import_dev.json
  cloudformation/resources_to_import_int.json
  cloudformation/resources_to_import_prod.json
  cloudformation/resources_to_import_qa.json
  cloudformation/resources_to_import_ref.json
Due: none

AEA-3620 correct lastUpdated in error response (#174)
  packages/middleware/src/index.js
  packages/middleware/tests/index.test.js
Due: lint-middleware

[AEA-3537] fixed dev outputs
  cloudformation/ci_resources_dev_1.yml
  cloudformation/ci_resources_dev_2.yml
Due: none

add create release notes script
  .github/workflows/create_confluence_release_notes.yml
  Makefile
  scripts/create_release_notes.py
Due: none

add actionlint to lint github actions
  .devcontainer/Dockerfile
  .github/workflows/create_confluence_release_notes.yml
  .tool-versions
  Makefile
Due: none

call workflow from pull request
  .github/workflows/create_confluence_release_notes.yml
  .github/workflows/pull_request.yml
Due: none

use params
  .github/workflows/create_confluence_release_notes.yml
  .github/workflows/pull_request.yml
Due: none

fix setting vars
  .github/workflows/create_confluence_release_notes.yml
Due: none

fix getting vars
  .github/workflows/adhoc_create_release_notes.yml
  .github/workflows/create_confluence_release_notes.yml
Due: none

really correct tags
  .github/workflows/create_confluence_release_notes.yml
Due: none

export vars
  .github/workflows/create_confluence_release_notes.yml
Due: none

[AEA-3537] updated references to now point at account resources
  .github/workflows/sam_release_code.yml
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/splunk_firehose_resources.yaml
  privateCA/create_certs.sh
Due: none

use ncipollo/release-action to create release
  .github/workflows/release.yml
Due: none

fix indent
  .github/workflows/release.yml
Due: none

correct dependabot to use pip
  .github/dependabot.yml
Due: none

AEA-3479 use ncipollo/release-action to create release (#178)
  .github/dependabot.yml
  .github/workflows/release.yml
Due: none

updates following dev deployment
  cloudformation/account_resources.yml
  cloudformation/account_resources_1.yml
  cloudformation/ci_resources.yml
  cloudformation/ci_resources_dev_2.yml
  cloudformation/ci_resources_int_2.yml
  cloudformation/ci_resources_prod_2.yml
  cloudformation/ci_resources_qa_2.yml
  cloudformation/ci_resources_ref_2.yml
  cloudformation/resources_to_import_dev.txt
Due: none

fix linting errors
  cloudformation/account_resources_1.yml
Due: none

[AEA-3537] Cloudformation Resources Refactor (#173)
  .github/workflows/sam_release_code.yml
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/splunk_firehose_resources.yaml
  cloudformation/account_resources_1.yml
  cloudformation/ci_resources.yml
  cloudformation/ci_resources_dev_1.yml
  cloudformation/ci_resources_dev_2.yml
  cloudformation/ci_resources_int_1.yml
  cloudformation/ci_resources_int_2.yml
  cloudformation/ci_resources_prod_1.yml
  cloudformation/ci_resources_prod_2.yml
  cloudformation/ci_resources_qa_1.yml
  cloudformation/ci_resources_qa_2.yml
  cloudformation/ci_resources_ref_1.yml
  cloudformation/ci_resources_ref_2.yml
  cloudformation/resources_to_import.ref
  cloudformation/resources_to_import_dev.txt
  cloudformation/resources_to_import_int.json
  cloudformation/resources_to_import_prod.json
  cloudformation/resources_to_import_qa.json
  cloudformation/resources_to_import_ref.json
  privateCA/create_certs.sh
Due: none

fix delete stacks
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-splunkProcessor: any of: ^packages\/splunkProcessor and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
