Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-splunkProcessor:
  name: Lint Splunk Processor
  entry: npm
  args:
  - run
  - --prefix=packages/splunkProcessor
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

AEA-3218 Removed workspace and references.
  .github/dependabot.yml
  .vscode/prescriptionsforpatients.code-workspace
  README.md
  package-lock.json
  package.json
Due: none

AEA-3218 Removed weird symlink file.
  packages/sandbox/examples~HEAD
Due: none

AEA-3218 Removed leftover references to specification package.
  Makefile
  README.md
Due: none

force poetry update
  poetry.lock
Due: none

reshim python before installing
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
Due: none

add reshim make command
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  Makefile
Due: none

show python
  .github/workflows/quality_checks.yml
Due: none

update poetry version
  .tool-versions
Due: none

force asdf version
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
Due: none

enable shared python in asdf
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
Due: none

test build
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
Due: none

manually run post install poetry steps
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  Makefile
Due: none

poetry setup
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
Due: none

correct install in package
  .github/workflows/sam_package_code.yml
Due: none

set poetry config in config file
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  poetry.toml
Due: none

AEA-3218 Added sonar config file.
  sonar-project.properties
Due: none

AEA-3218 Tweak to sonar file.
  sonar-project.properties
Due: none

AEA-3218 Another tweak to sonar file.
  sonar-project.properties
Due: none

AEA-3218 Changed http to https in examples. Removed sonar file.
  packages/sandbox/examples/GetMyPrescriptions/Bundle/success-multiple.json
  packages/sandbox/examples/GetMyPrescriptions/Bundle/success.json
  sonar-project.properties
Due: lint-sandbox

AEA-3218 Publish pfp schema via apim repo (#125)
  .github/dependabot.yml
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  .github/workflows/sam_package_code.yml
  .tool-versions
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  package-lock.json
  package.json
  packages/sandbox/examples
  packages/sandbox/examples/GetMyPrescriptions/Bundle/error.json
  packages/sandbox/examples/GetMyPrescriptions/Bundle/success-empty.json
  packages/sandbox/examples/GetMyPrescriptions/Bundle/success-multiple.json
  packages/sandbox/examples/GetMyPrescriptions/Bundle/success.json
  packages/specification/.vscode/settings.json
  packages/specification/Makefile
  packages/specification/README.md
  packages/specification/package.json
  packages/specification/prescriptionsforpatients.yaml
  packages/specification/schemas/fragments/address.yaml
  packages/specification/schemas/fragments/codes.yaml
  packages/specification/schemas/fragments/groupIdentifier.yaml
  packages/specification/schemas/fragments/identifiers.yaml
  packages/specification/schemas/fragments/telecom.yaml
  packages/specification/schemas/resources/MedicationRequest.yaml
  packages/specification/schemas/resources/OperationOutcome.yaml
  packages/specification/schemas/resources/OrganisationDispensing.yaml
  packages/specification/schemas/resources/OrganisationPrescribing.yaml
  packages/specification/schemas/resources/Practitioner.yaml
  packages/specification/schemas/resources/PractitionerRole.yaml
  poetry.lock
  poetry.toml
Due: lint-sandbox

fix sandbox response
  packages/sandbox/src/app.ts
Due: lint-sandbox

fix unit tests
  packages/sandbox/tests/test-handler.test.ts
Due: lint-sandbox

fix return data in sandbox
  packages/sandbox/src/app.ts
  packages/sandbox/tests/test-handler.test.ts
Due: lint-sandbox

AEA-3435 fix sandbox response (#128)
  packages/sandbox/src/app.ts
  packages/sandbox/tests/test-handler.test.ts
Due: lint-sandbox

add dns records for other environments (#123)
  cloudformation/README.md
  cloudformation/environment_route53.yml
  cloudformation/management_route53.yml
Due: none

update readme
  cloudformation/README.md
Due: none

update readme (#129)
  cloudformation/README.md
Due: none

add party key to secrets
  cloudformation/ci_resources.yml
  template.yaml
Due: none

retrieve party key from secrets in lambda layer
  packages/getSecretLayer/src/get-secrets-layer
Due: lint-getSecretLayer

call get prescriptions
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/models/spine.ts
  packages/spineClient/src/sandbox-spine-client.ts
  packages/spineClient/src/spine-client.ts
Due: lint-getMyPrescriptions, lint-spineClient

log error response from spine
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

better error handling
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

keep on logging
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

only log important things on error response
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

fix logging
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

log retrieving secrets
  packages/getSecretLayer/src/get-secrets-layer
Due: lint-getSecretLayer

fix return data
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

send correct body back
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

validate response and nhs number
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-splunkProcessor: any of: ^packages\/splunkProcessor and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
