Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

test: latest reg tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

chore: adopt tests inc. SSv3 on Proxygen
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Revert "Chore: [AEA-0000] - send old and new key (#2447)"
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

chore: fix secret injection for PRs
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

chore: mark Proxygen deployments fpr PRs temporary
  .github/scripts/deploy_api.sh
Due: none

fix: secret name by extracting from arn
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

expt: inject dev SS secret for use in prs
  .github/scripts/release_code.sh
  .github/workflows/sam_release_code.yml
  SAMtemplates/main_template.yaml
  SAMtemplates/secrets/main.yaml
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient, lint-samtemplates, lint-githubactions

chore: adapt to middy type change
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/nhsd-pfp-sandbox/src/sandbox.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

Chore: [AEA-0000] - mark Proxygen deployments fpr PRs temporary (#2464)
  .github/scripts/deploy_api.sh
Due: none

Chore: [AEA-6165] - latest regression tests including Service Search in Proxygen suite (#2463)
  .github/scripts/release_code.sh
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
  SAMtemplates/main_template.yaml
  SAMtemplates/secrets/main.yaml
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient, lint-samtemplates, lint-githubactions

chore: exclude vitest cfg from SQ coverage
  package.json
  sonar-project.properties
Due: none

chore: typo in sonar props
  sonar-project.properties
Due: none

chore: use @nhsdigital (lowercase) in .npmrc
  .github/workflows/sam_package_code.yml
Due: lint-githubactions

stagger dependabot
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: lint-githubactions

two hour stagger
  .github/dependabot.yml
Due: lint-githubactions

Chore: [AEA-0000] - stagger dependabot (#2465)
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: lint-githubactions
