Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-getMyPrescriptions
        name: Lint getMyPrescriptions
        entry: npm
        args: ["run", "--prefix=packages/getMyPrescriptions", "lint"]
        language: system
        files: ^packages\/getMyPrescriptions
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-splunkProcessor
        name: Lint Splunk Processor
        entry: npm
        args: ["run", "--prefix=packages/splunkProcessor", "lint"]
        language: system
        files: ^packages\/splunkProcessor
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-middleware
        name: Lint Middleware
        entry: npm
        args: ["run", "--prefix=packages/middleware", "lint"]
        language: system
        files: ^packages\/middleware
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-capabilityStatement
        name: Lint capabilityStatement
        entry: npm
        args: ["run", "--prefix=packages/capabilityStatement", "lint"]
        language: system
        files: ^packages\/capabilityStatement
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-spineClient
        name: Lint spineClient
        entry: npm
        args: ["run", "--prefix=packages/spineClient", "lint"]
        language: system
        files: ^packages\/spineClient
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-getSecretLayer
        name: Lint getSecretLayer
        entry: make
        args: ["lint-go"]
        language: system
        files: ^packages\/getSecretLayer
        pass_filenames: false

fail_fast: true
default_stages: [commit]

renames to use prescriptionsforpatients_common/testing
  package-lock.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/testing/package.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/sandbox/package.json
  packages/sandbox/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-capabilityStatement, lint-sandbox

[AEA-3444] fixed policy name
  template.yaml
Due: none

extracts common test
  .vscode/prescriptionsforpatients.code-workspace
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/testing/src/index.ts
  packages/common/testing/src/test_mime_type.ts
  packages/sandbox/tests/test-handler.test.ts
Due: lint-capabilityStatement, lint-sandbox

low timeout
  template.yaml
Due: none

put timeout in call to spine
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-getMyPrescriptions, lint-spineClient

fix test
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient

higer lambda timeout
  template.yaml
Due: none

refactors append trace ids test
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/testing/src/index.ts
  packages/common/testing/src/test_append_trace_id.ts
  packages/sandbox/tests/test-handler.test.ts
Due: lint-capabilityStatement, lint-sandbox

reorders index
  packages/common/testing/src/index.ts
Due: none

parse lambda log messages
  packages/splunkProcessor/src/app.js
Due: lint-splunkProcessor

updates dependencies
  packages/capabilityStatement/package.json
  packages/getMyPrescriptions/package.json
  packages/sandbox/package.json
Due: lint-getMyPrescriptions, lint-capabilityStatement, lint-sandbox

updates package-lock
  package-lock.json
Due: none

only add request_id to logging if found
  packages/splunkProcessor/src/app.js
Due: lint-splunkProcessor

up timeout
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

handle all logs
  packages/spineClient/tests/live-spine-client.test.ts
  packages/splunkProcessor/src/app.js
Due: lint-splunkProcessor, lint-spineClient

really low timeout
  template.yaml
Due: none

[AEA-3444] adds api gw cloudwatch account role
  cloudformation/account_resources.yml
  template.yaml
Due: none

unit tests for splunk transform
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  package-lock.json
  packages/splunkProcessor/.eslintrc
  packages/splunkProcessor/.vscode/settings.json
  packages/splunkProcessor/package.json
  packages/splunkProcessor/src/app.js
  packages/splunkProcessor/tests/transformLogEvent.test.js
Due: lint-splunkProcessor

set lambda timeout of 50 seconds and http timeout of 45 seconds
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
  template.yaml
Due: lint-spineClient

AEA-3460: Content Caching Should be Set to no-cache and Pragma no-store (#139)
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  package-lock.json
  package.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/src/app.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/capabilityStatement/tsconfig.json
  packages/common/testing/.eslintrc
  packages/common/testing/package.json
  packages/common/testing/src/index.ts
  packages/common/testing/src/mockAPIGatewayProxyEvent.json
  packages/common/testing/src/test_append_trace_id.ts
  packages/common/testing/src/test_mime_type.ts
  packages/common/testing/tsconfig.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/middleware/src/index.js
  packages/middleware/tests/index.spec.js
  packages/sandbox/package.json
  packages/sandbox/src/app.ts
  packages/sandbox/tests/test-handler.test.ts
  packages/sandbox/tsconfig.json
  packages/spineClient/tests/live-spine-client.test.ts
  packages/splunkProcessor/src/app.js
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
  scripts/calculate_version.py
  tsconfig.build.json
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient

fix tests
  .vscode/prescriptionsforpatients.code-workspace
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

[AEA-3444] updated api gw account role and added cloudwatch resource policy
  cloudformation/account_resources.yml
Due: none

AEA-3477 set timeout on call to spine (#140)
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  package-lock.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
  packages/splunkProcessor/.eslintrc
  packages/splunkProcessor/.vscode/settings.json
  packages/splunkProcessor/package.json
  packages/splunkProcessor/src/app.js
  packages/splunkProcessor/tests/transformLogEvent.test.js
  template.yaml
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-spineClient

fix splunk transform export
  packages/splunkProcessor/src/app.js
  packages/splunkProcessor/tests/transformLogEvent.test.js
Due: lint-splunkProcessor

fix splunk transform export (#141)
  packages/splunkProcessor/src/app.js
  packages/splunkProcessor/tests/transformLogEvent.test.js
Due: lint-splunkProcessor

[AEA-3444] adds kms key and log encryption config for api gwe
  cloudformation/account_resources.yml
  template.yaml
Due: none

[AEA-3444] fixing kms key yml
  cloudformation/account_resources.yml
  template.yaml
Due: none

[AEA-3444] fixing kms key yml
  cloudformation/account_resources.yml
Due: none

[AEA-3444] adds api logging config to sandbox template
  sandbox_template.yaml
Due: none

[AEA-3444] updated cloudformation readme
  cloudformation/README.md
Due: none

[AEA-3444] resolving review comments
  cloudformation/README.md
  cloudformation/account_resources.yml
  sandbox_template.yaml
  template.yaml
Due: none

[AEA-3444] removed xrayTraceId
  sandbox_template.yaml
  template.yaml
Due: none

[AEA-3444] updating ci role with added logs permissions
  cloudformation/account_resources.yml
  cloudformation/ci_resources.yml
Due: none

[AEA-3444] added kms key alias
  cloudformation/account_resources.yml
Due: none

[AeA-3444] updating alias name of kms key
  cloudformation/account_resources.yml
Due: none

AEA-3444: enable api gw logging (#138)
  cloudformation/README.md
  cloudformation/account_resources.yml
  cloudformation/ci_resources.yml
  sandbox_template.yaml
  template.yaml
Due: none
