Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-updatePrescriptionStatus
        name: Lint updatePrescriptionStatus
        entry: npm
        args: ["run", "--prefix=packages/updatePrescriptionStatus", "lint"]
        language: system
        files: ^packages\/updatePrescriptionStatus
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-gsul
        name: Lint gsul
        entry: npm
        args: ["run", "--prefix=packages/gsul", "lint"]
        language: system
        files: ^packages\/gsul
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-samtemplates
        name: Lint sam templates
        entry: make
        args: ["lint-samtemplates"]
        language: system
        files: ^SAMtemplates
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [commit]

allow deployment to recovery
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

do not deploy to dev
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for recovery
  _data/recovery_deployments.csv
  _data/recovery_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

update regression test tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - allow ref env (#2000)
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

use sha for github action
  .github/workflows/pr-link.yml
Due: lint-githubactions
