Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

fix: log proxygen style app id and name
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
Due: lint-getMyPrescriptions

fix: include proxygen name & id
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Made mTLS setting for dev_sandbox consistent across workflows
  .github/workflows/ci.yml
Due: lint-githubactions

Fix: [AEA-0000] - Made mTLS setting for dev_sandbox consistent across workflows (#2537)
  .github/workflows/ci.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

add workflow to sync copilot
  .github/workflows/sync_copilot.yml
Due: lint-githubactions

update update_devcontainer job
  .github/dependabot.yml
  .github/workflows/update_dev_container_version.yml
  .pre-commit-config.yaml
Due: lint-githubactions

update schedule
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

remove attach
  .devcontainer/devcontainer.json
Due: none

Chore: [AEA-0000] - add workflow to sync copilot (#2538)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/sync_copilot.yml
  .pre-commit-config.yaml
Due: lint-githubactions

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

chore: migrate statemachine to JSONata
  packages/cdk/resources/StateMachineDefinitions/GetMyPrescriptions.ts
Due: none

test: minimal fail-fast cdk synth test
  packages/cdk/tests/synth.test.ts
  packages/cdk/vitest.config.ts
Due: none

chore: log and continue if TC params not present
  packages/common/utilities/src/config.ts
Due: none

chore: further json path -> jsonata
  packages/cdk/resources/StateMachineDefinitions/GetMyPrescriptions.ts
Due: none

fix: make dependencies
  Makefile
Due: none

fix: no allow TS imports as still on node module resolution
  packages/cdk/tsconfig.json
Due: none

fix: typo
  packages/cdk/cdk.json
Due: none

feat: scaffold app with cdk
  .gitignore
  Makefile
  package-lock.json
  package.json
  packages/cdk/bin/PfPApiApp.ts
  packages/cdk/bin/PfPApiSandboxApp.ts
  packages/cdk/cdk.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/package.json
  packages/cdk/resources/Apis.ts
  packages/cdk/resources/Functions.ts
  packages/cdk/resources/StateMachineDefinitions/GetMyPrescriptions.ts
  packages/cdk/resources/StateMachines.ts
  packages/cdk/scripts/deleteMainStacks.ts
  packages/cdk/scripts/deletePrStacks.ts
  packages/cdk/stacks/PfPApiSandboxStack.ts
  packages/cdk/stacks/PfPApiStack.ts
  packages/cdk/tsconfig.json
Due: none

chore: test latest eps-cdk-utils
  package-lock.json
  package.json
Due: none

docs: example .env file
  template.env
Due: none

fix: use revised parameters construct
  package-lock.json
  packages/cdk/bin/PfPApiApp.ts
Due: none

feat: adopt cdk parameters construct
  package-lock.json
  packages/cdk/bin/PfPApiApp.ts
  packages/cdk/resources/Functions.ts
  packages/cdk/stacks/PfPApiStack.ts
  packages/cdk/tests/synth.test.ts
Due: none

chore: add missing file, sane defaults for TC params
  packages/cdk/bin/PfPApiApp.ts
  packages/cdk/resources/Parameters.ts
Due: none

fix: non-prod spine and ss hosts
  Makefile
Due: none

chore: npm audit fix
  package-lock.json
Due: none

feat: sandbox app
  packages/cdk/bin/PfPApiSandboxApp.ts
  packages/cdk/stacks/PfPApiSandboxStack.ts
  packages/cdk/tests/synth.test.ts
Due: none

feat: SSv3 API key from existing secret by name, not ARN
  packages/cdk/bin/PfPApiApp.ts
  packages/cdk/resources/Functions.ts
  packages/cdk/stacks/PfPApiStack.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient

fix: getConfigFromEnvVar calls
  package-lock.json
  packages/cdk/bin/PfPApiApp.ts
  packages/cdk/bin/PfPApiSandboxApp.ts
  packages/cdk/tests/synth.test.ts
Due: none

ops: cdk workflows, currently both cdk and sam
  .github/actions/install_dependencies/action.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

ops: introduce toggle between sam and cdk
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  packages/cdk/resources/SandboxApis.ts
  packages/cdk/resources/SandboxFunctions.ts
Due: lint-githubactions

feat: alarms
  packages/cdk/bin/PfPApiApp.ts
  packages/cdk/constructs/MetricAlarm.ts
  packages/cdk/resources/Alarms.ts
  packages/cdk/stacks/PfPApiStack.ts
  packages/cdk/tests/MetricAlarm.test.ts
  packages/cdk/tests/synth.test.ts
Due: none

ops: tmp add cdk-utils tarball
  nhsdigital-eps-cdk-constructs-1.6.0.tgz
Due: none
