Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-updatePrescriptionStatus
        name: Lint updatePrescriptionStatus
        entry: npm
        args: ["run", "--prefix=packages/updatePrescriptionStatus", "lint"]
        language: system
        files: ^packages\/updatePrescriptionStatus
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-gsul
        name: Lint gsul
        entry: npm
        args: ["run", "--prefix=packages/gsul", "lint"]
        language: system
        files: ^packages\/gsul
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-samtemplates
        name: Lint sam templates
        entry: make
        args: ["lint-samtemplates"]
        language: system
        files: ^SAMtemplates
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [commit]

update releases for int-sandbox
  _data/int-sandbox_deployments.csv
  _data/int-sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

added new schedules
  .github/dependabot.yml
Due: lint-githubactions

Chore: [AEA-5751] - Update dependabot schedule and add git secrets build command (#2066)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: lint-githubactions

chore: remove ignored security issues
  .github/ignored_security_issues.json
Due: none

chore: rename sandbox -> nhsd-pfp-sandbox
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  SAMtemplates/sandbox_template.yaml
  package-lock.json
  package.json
  packages/nhsd-pfp-sandbox/.vscode/launch.json
  packages/nhsd-pfp-sandbox/.vscode/settings.json
  packages/nhsd-pfp-sandbox/examples/GetMyPrescriptions/Bundle/error.json
  packages/nhsd-pfp-sandbox/examples/GetMyPrescriptions/Bundle/success-empty.json
  packages/nhsd-pfp-sandbox/examples/GetMyPrescriptions/Bundle/success-multiple.json
  packages/nhsd-pfp-sandbox/examples/GetMyPrescriptions/Bundle/success.json
  packages/nhsd-pfp-sandbox/jest.config.ts
  packages/nhsd-pfp-sandbox/jest.debug.config.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/src/global.d.ts
  packages/nhsd-pfp-sandbox/src/sandbox.ts
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/nhsd-pfp-sandbox/tsconfig.json
  sonar-project.properties
  tsconfig.build.json
Due: lint-samtemplates

Chore: [AEA-4391] - remove ignored security issues (#2069)
  .github/ignored_security_issues.json
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  SAMtemplates/sandbox_template.yaml
  package-lock.json
  package.json
  packages/nhsd-pfp-sandbox/.vscode/launch.json
  packages/nhsd-pfp-sandbox/.vscode/settings.json
  packages/nhsd-pfp-sandbox/examples/GetMyPrescriptions/Bundle/error.json
  packages/nhsd-pfp-sandbox/examples/GetMyPrescriptions/Bundle/success-empty.json
  packages/nhsd-pfp-sandbox/examples/GetMyPrescriptions/Bundle/success-multiple.json
  packages/nhsd-pfp-sandbox/examples/GetMyPrescriptions/Bundle/success.json
  packages/nhsd-pfp-sandbox/jest.config.ts
  packages/nhsd-pfp-sandbox/jest.debug.config.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/src/global.d.ts
  packages/nhsd-pfp-sandbox/src/sandbox.ts
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/nhsd-pfp-sandbox/tsconfig.json
  sonar-project.properties
  tsconfig.build.json
Due: lint-samtemplates

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

add some logging to satisfy myself the application name is not in the header
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: none

Use the new header key
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: none

Remove circular import
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
Due: none

Update the log string to clarify what the application name means
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: none

lowercase...
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: none

Chore: [AEA-5389] - Include app name in logging (#2078)
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
Due: none
