Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-splunkProcessor:
  name: Lint Splunk Processor
  entry: npm
  args:
  - run
  - --prefix=packages/splunkProcessor
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

fix typing
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

better logging
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

unit tests for nhs number check
  packages/spineClient/src/extractNHSNmuber.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/extractNHSNmuber.test.ts
Due: lint-spineClient

throw proper errors
  packages/spineClient/src/extractNHSNmuber.ts
  packages/spineClient/src/live-spine-client.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda, lint-spineClient

[AEA-3388] updated mime types to fhir+json and added tests to cover it
  packages/capabilityStatement/src/app.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/middleware/src/index.js
  packages/middleware/tests/index.spec.js
  packages/sandbox/src/app.ts
  packages/sandbox/tests/test-handler.test.ts
Due: lint-middleware, lint-capabilityStatement, lint-sandbox

more tests
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient

fix request to spine
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

fix tests
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient

add correct query params
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

fix tests for getMyPrescriptions
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

more headers in splunk request
  packages/spineClient/src/live-spine-client.ts
Due: lint-spineClient

use axios-mock-adaptor intstead of moxios in tests
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/package.json
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
  packages/spineClient/tests/status.test.ts
Due: lint-getMyPrescriptions, lint-spineClient

fix throwing error
  packages/spineClient/src/sandbox-spine-client.ts
Due: lint-spineClient

return 400 when invalid NHS number passed in
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/extractNHSNmuber.ts
  packages/spineClient/src/index.ts
  packages/spineClient/tests/extractNHSNmuber.test.ts
  packages/statusLambda/src/app.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient

do not need eslint hints anymore
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

test for return type
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

refactor tests
  packages/spineClient/src/extractNHSNumber.ts
  packages/spineClient/src/index.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/sandbox-spine-client.ts
  packages/spineClient/tests/extractNHSNmuber.test.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient

refactor tests
  packages/spineClient/tests/extractNHSNmuber.test.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient

paramatarise more tests
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

refactor tests
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/spineClient/src/extractNHSNumber.ts
  packages/spineClient/tests/extractNHSNmuber.test.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-getMyPrescriptions, lint-spineClient

correct jest config for spineClient
  packages/spineClient/jest.config.ts
Due: lint-spineClient

rename test file
  packages/spineClient/tests/extractNHSNumber.test.ts
Due: lint-spineClient

[AEA-3388] signed commit test
  README.md
Due: none

AEA-3247 Call spine interaction (#130)
  cloudformation/ci_resources.yml
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getSecretLayer/src/get-secrets-layer
  packages/spineClient/jest.config.ts
  packages/spineClient/package.json
  packages/spineClient/src/extractNHSNumber.ts
  packages/spineClient/src/index.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/models/spine.ts
  packages/spineClient/src/sandbox-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/spineClient/tests/extractNHSNumber.test.ts
  packages/spineClient/tests/live-spine-client.test.ts
  packages/spineClient/tests/status.test.ts
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
  template.yaml
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient, lint-getSecretLayer

[AEA-3388] uncomment getMyPresciptions content type tests
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

AEA-3388 - Updates response MIME types to match FHIR standard (#131)
  README.md
  packages/capabilityStatement/src/app.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/middleware/src/index.js
  packages/middleware/tests/index.spec.js
  packages/sandbox/src/app.ts
  packages/sandbox/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-middleware, lint-capabilityStatement, lint-sandbox

put lambda in private subnet
  cloudformation/README.md
  cloudformation/vpc_resources.yml
  template.yaml
Due: none

fix template
  template.yaml
Due: none

use default security group
  cloudformation/ci_resources.yml
  cloudformation/vpc_resources.yml
  template.yaml
Due: none

more policy changes
  cloudformation/ci_resources.yml
  cloudformation/vpc_resources.yml
  template.yaml
Due: none

put network policy in another place
  template.yaml
Due: none

update readme
  cloudformation/README.md
Due: none

enable versioning on splunk bucket
  template_splunk_firehose.yaml
Due: none

add extra permissions to cloudformation to allow setting versioning
  cloudformation/ci_resources.yml
Due: none

log calls to status endpoint
  packages/spineClient/src/status.ts
Due: lint-spineClient

[AEA-3348] initial test log
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

[AEA-3348] adds new log fields for getMyPrescriptions
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

fix filter pattern
  template.yaml
Due: none

revert filter pattern
  template.yaml
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-splunkProcessor: any of: ^packages\/splunkProcessor and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
