Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Modify resource refences to be dynamic
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Fix parameter ARN reference
  .github/scripts/release_code.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates, lint-githubactions

docs: README
  README.md
Due: none

chore: new ssm params to support tests
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

chore: add pre-shared NHS numbers for testing
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

chore: lookup TC008 nhs number
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: none

chore: centralise lambda config
  packages/getMyPrescriptions/src/config.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/config.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: none

chore: expand config for all 3 params
  packages/getMyPrescriptions/src/config.ts
  packages/getMyPrescriptions/tests/config.test.ts
  packages/getMyPrescriptions/tests/testFixtures.ts
Due: none

chore: update TC008 test to use config
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: none

Correct compile
  package.json
  packages/common/tests/package.json
  packages/common/tests/src/helloWorldContext.ts
  packages/common/tests/src/index.ts
Due: none

Add in other test cases
  .pre-commit-config.yaml
  Makefile
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/common/tests/src/test_mime_type.ts
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
Due: none

Fix test setup exclusion
  packages/enrichPrescriptions/tsconfig.json
Due: none

Shorten common name
  jest.default.config.ts
  package-lock.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/package.json
  packages/common/tests/package.json
  packages/distanceSelling/package.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/testFixtures.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.defaults.json
Due: lint-statusLambda

Switch to common/tests and add in TC007 test case
  jest.default.config.ts
  packages/capabilityStatement/package.json
  packages/common/tests/package.json
  packages/common/tests/src/index.ts
  packages/distanceSelling/package.json
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/config.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/testFixtures.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/serviceSearchClient/package.json
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-statusLambda

Use common/tests import
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: none

Move common logic package to common/utilities to distinguish
  Makefile
  jest.default.config.ts
  package-lock.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/package.json
  packages/common/tests/package.json
  packages/common/tests/src/test_fixtures.ts
  packages/common/utilities/jest.config.ts
  packages/common/utilities/jest.debug.config.ts
  packages/common/utilities/package.json
  packages/common/utilities/src/config.ts
  packages/common/utilities/src/index.ts
  packages/common/utilities/testing/config.test.ts
  packages/common/utilities/tsconfig.json
  packages/distanceSelling/package.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-statusLambda

Get common utilities tests working
  README.md
  packages/common/utilities/jest.config.ts
  packages/common/utilities/package.json
  packages/common/utilities/tests/config.test.ts
  packages/common/utilities/tsconfig.json
Due: none

Rename tests to testing to differentiate
  SAMtemplates/parameters/main.yaml
  jest.default.config.ts
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/tests/package.json
  packages/common/utilities/jest.config.ts
  packages/common/utilities/tests/config.test.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.defaults.json
Due: lint-statusLambda, lint-samtemplates

Env var the parameters, for easier admin via github
  .github/scripts/release_code.sh
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates, lint-githubactions

Move to /testing
  .pre-commit-config.yaml
  Makefile
  jest.default.config.ts
  package-lock.json
  package.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tsconfig.json
  packages/common/testing/package.json
  packages/common/testing/src/helloWorldContext.ts
  packages/common/testing/src/index.ts
  packages/common/testing/src/mockAPIGatewayProxyEvent.json
  packages/common/testing/src/mockAPIResponseBody.json
  packages/common/testing/src/mockInteractionResponseBody.json
  packages/common/testing/src/mockServiceSearchResponseBodyPharmacy2u.json
  packages/common/testing/src/mockServiceSearchResponseBodyPharmica.json
  packages/common/testing/src/mockStateMachineInputEvent.json
  packages/common/testing/src/test_append_trace_id.ts
  packages/common/testing/src/test_fixtures.ts
  packages/common/testing/src/test_mime_type.ts
  packages/common/testing/tsconfig.json
  packages/common/utilities/jest.config.ts
  packages/distanceSelling/package.json
  packages/distanceSelling/tsconfig.json
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/tsconfig.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tsconfig.json
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/tsconfig.json
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/tsconfig.json
  packages/statusLambda/tsconfig.json
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-statusLambda

Clean up
  README.md
  package-lock.json
  sonar-project.properties
Due: none

Set default once
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

Rename to agreed pfp-common
  jest.default.config.ts
  package-lock.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/common/testing/package.json
  packages/common/testing/src/test_fixtures.ts
  packages/common/utilities/jest.config.ts
  packages/common/utilities/package.json
  packages/common/utilities/tests/config.test.ts
  packages/distanceSelling/package.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/enrichPrescriptions/package.json
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/nhsd-pfp-sandbox/package.json
  packages/nhsd-pfp-sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  tsconfig.defaults.json
Due: lint-statusLambda

Fix dep reference
  packages/getMyPrescriptions/tsconfig.json
Due: none

Add required SSM read permissions to associated lambdas
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Fix sam template
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

fix sam list
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Fix list issue
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

change to sub
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

change to sub for both
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

yaml is a nightmare
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Set stack name on env var for all lambda
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

fix env var
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

resolve parameter inputs into resources
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

Use pre-existing ssm policy
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

Fix parameter ARN reference
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
