Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-updatePrescriptionStatus
        name: Lint updatePrescriptionStatus
        entry: npm
        args: ["run", "--prefix=packages/updatePrescriptionStatus", "lint"]
        language: system
        files: ^packages\/updatePrescriptionStatus
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-gsul
        name: Lint gsul
        entry: npm
        args: ["run", "--prefix=packages/gsul", "lint"]
        language: system
        files: ^packages\/gsul
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-samtemplates
        name: Lint sam templates
        entry: make
        args: ["lint-samtemplates"]
        language: system
        files: ^SAMtemplates
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [commit]

Notes added by 'git notes add'
  43c44a94718836b634a8855cfea4f19e5c733ecb
Due: none

test: coverage of sort + placate SQ
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Fix spec output path
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

Chore: [AEA-0000] - Fix produced specification output path for debugging (#2289)
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

Notes added by 'git notes add'
  fa60b750e03f803347dcda39bdccbc37fdd807af
Due: none

Update OAS to specify that only 25 prescriptions are returned
  packages/specification/prescriptions-for-patients.yaml
Due: none

fix: enable v3 to be a feature flag, with 2 as default
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

Chore: [AEA-5953] - Update OAS to specify that only 25 prescriptions are returned (#2291)
  packages/specification/prescriptions-for-patients.yaml
Due: none

Preprocess specification so that JSON examples are incorporated into final spec, alike swagger-cli
  .gitignore
  packages/specification/package.json
  packages/specification/redocly.yaml
  packages/specification/resolve-examples.js
Due: none

fix case on nhsdigital
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/status.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
Due: lint-statusLambda

Chore: [AEA-0000] - fix case on nhsdigital package (#2293)
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/status.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/statusLambda/package.json
  packages/statusLambda/src/statusLambda.ts
Due: lint-statusLambda

Chore: [AEA-6162] - REVERT Test development deployment after basepath change (#2287)
  .github/scripts/deploy_api.sh
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none
