Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Adjust to nhsd-nhslogin-user
  packages/specification/prescriptions-for-patients.yaml
Due: none

Introduce proofing level check
  .github/workflows/release.yml
  packages/getMyPrescriptions/src/extractNHSNumber.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/specification/prescriptions-for-patients.yaml
Due: lint-githubactions

Duh
  packages/getMyPrescriptions/src/extractNHSNumber.ts
  packages/getMyPrescriptions/src/types.ts
Due: none

chore: DRY tests & use service search v3
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/utils.ts
  packages/serviceSearchClient/src/index.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

chore: placate SQ
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/utils.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/utils.ts
  packages/serviceSearchClient/src/index.ts
Due: none

Application name attribute output as header to origin
  packages/specification/prescriptions-for-patients.yaml
Due: none

dont require it
  packages/specification/prescriptions-for-patients.yaml
Due: none

Fix reg tests and uts
  .github/workflows/run_regression_tests.yml
  packages/getMyPrescriptions/tests/extractNHSNumber.test.ts
Due: lint-githubactions

Disable MTLS
  .github/workflows/pull_request.yml
Due: lint-githubactions

chore: placate SQ
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

Use the branch for proxygen tests to use correct workflow
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Both use branch?
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

bump regression
  .github/workflows/run_regression_tests.yml
  .gitignore
  Makefile
Due: lint-githubactions

fix target environment
  .github/workflows/pull_request.yml
Due: lint-githubactions

Fix: [AEA-0000] - bump regression tests (#2225)
  .github/workflows/run_regression_tests.yml
  .gitignore
  Makefile
Due: lint-githubactions

Remove sandbox environment on PRs
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Set latest regression test version for PFP Proxygen changes
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

chore: create infra for svc search 3
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/secrets/main.yaml
Due: lint-samtemplates

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
