Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-samtemplatess:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

reverts previous change
  SAMtemplates/lambda_resources.yaml
Due: lint-samtemplatess

removes extra line
  SAMtemplates/lambda_resources.yaml
Due: lint-samtemplatess

changes wrongly edited stack name
  SAMtemplates/lambda_resources.yaml
Due: lint-samtemplatess

AEA-3622 removed unused inputs and steps from create_confluence_release_notes.
  .github/workflows/create_confluence_release_notes.yml
Due: none

AEA-3622 Added delete_stacks script.
  .github/scripts/delete_stacks.sh
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: none

AEA-3735 Enable lambda insights on pfp lambdas (#554)
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

AEA-3622 Removed delete_stacks script.
  .github/scripts/delete_stacks.sh
Due: none

AEA-3622 Re-added delete_stacks script with execute permission.
  .github/scripts/delete_stacks.sh
Due: none

AEA-3622 Added execute permissions to delete_stacks script. Again.
  .github/scripts/delete_stacks.sh
Due: none

AEA-3622 Double-quoting to prevent globbing and word splitting.
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

AEA-3622 Pulled ref out to env variable for job.
  .github/workflows/pr-link.yml
Due: none

AEA-3622 Using recommended method for adding variable to env.
  .github/workflows/pr-link.yml
Due: none

AEA-3622 Disabled incorrect shellcheck warnings.
  .github/workflows/pr-link.yml
Due: none

fix roles for release notes
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: none

fix roles for release notes (#568)
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: none

use app for approving dependabot pull requests
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

use app for approving dependabot pull requests (#569)
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

AEA-3622 Booleans typed as booleans.
  .github/workflows/sam_release_code.yml
Due: none

AEA-3622 More double-quoting.
  .github/workflows/release.yml
Due: none

AEA-3622 Declaring and assigning separately.
  .github/workflows/sam_release_code.yml
Due: none

log response times on failures
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient, lint-serviceSearchClient

AEA-3622 Moved exported vars to env vars for release code step.
  .github/workflows/sam_release_code.yml
Due: none

AEA-3622 Moved release code into own script file. Permissions chmodded and git index updated.
  .github/scripts/release_code.sh
Due: none

AEA-3622 Shellcheck corrections to delete_stacks script.
  .github/scripts/delete_stacks.sh
Due: none

AEA-3622 Using release_code script.
  .github/workflows/sam_release_code.yml
Due: none

AEA-3622 Directory change to run make command.
  .github/scripts/release_code.sh
Due: none

[AEA-3755] moved lambda polices to account resources
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

use clear state when using inject lambda context
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/sandbox/src/sandbox.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox

tests for logging
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/toMatchJsonLogMessage.ts
Due: lint-getMyPrescriptions

add some comments
  packages/getMyPrescriptions/tests/toMatchJsonLogMessage.ts
Due: lint-getMyPrescriptions

test deploy
  .github/workflows/test_deploy_to_other_env.yml
Due: none

add permission
  .github/workflows/test_deploy_to_other_env.yml
Due: none

add env
  .github/workflows/test_deploy_to_other_env.yml
Due: none

AEA-3622 New pre-commit hooks.
  .pre-commit-config.yaml
Due: none

AEA-3622 Missed quoting within disabled check.
  .github/workflows/pr-link.yml
Due: none

AEA-3622 Added script linting to makefile commands.
  Makefile
Due: none

AEA-3622 Script formatting.
  .github/scripts/delete_stacks.sh
  .github/scripts/release_code.sh
Due: none

AEA-3622 Scoped working dirs and env vars to steps rather than jobs.
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: none

AEA-3622 Trimmed code checkout to scripts only.
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates
