Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-updatePrescriptionStatus
        name: Lint updatePrescriptionStatus
        entry: npm
        args: ["run", "--prefix=packages/updatePrescriptionStatus", "lint"]
        language: system
        files: ^packages\/updatePrescriptionStatus
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-gsul
        name: Lint gsul
        entry: npm
        args: ["run", "--prefix=packages/gsul", "lint"]
        language: system
        files: ^packages\/gsul
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-samtemplates
        name: Lint sam templates
        entry: make
        args: ["lint-samtemplates"]
        language: system
        files: ^SAMtemplates
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [commit]

Disable Apigee deployment instead of reverting for temporary flexibility, allowing deployments through the environments.
  .github/workflows/pull_request.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

Don't run regression tests as no PR environment will be available
  .github/workflows/pull_request.yml
Due: lint-githubactions

Remove block as release.yml will still attempt regression tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Run the Apigee regression tests only
  .github/workflows/pull_request.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Missing a part of the reg test run
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - Disable Apigee deployment instead of reverting config changes (#2341)
  .github/workflows/pull_request.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

chore: bump tar
  package-lock.json
  package.json
Due: none

chore: bump regression tests to 3.8.19
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Chore: [AEA-5976] - diagnostic logging around service search v3 (#2338)
  .github/workflows/run_regression_tests.yml
  Makefile
  README.md
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-githubactions

Notes added by 'git notes add'
  adc0584126b170586a2011b156acdab30bb48903
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

correct case
  Makefile
  test.sh
Due: none

remove test.sh
  test.sh
Due: none

Chore: [AEA-6108] - upgrade node to 24 (#2262)
  .pre-commit-config.yaml
  .tool-versions
  SAMtemplates/functions/main.yaml
  package-lock.json
  packages/capabilityStatement/jest.config.ts
  packages/common/utilities/jest.config.ts
  packages/distanceSelling/jest.config.ts
  packages/enrichPrescriptions/jest.config.ts
  packages/getMyPrescriptions/jest.config.ts
  packages/nhsd-pfp-sandbox/jest.config.ts
  packages/serviceSearchClient/jest.config.ts
  packages/specification/package.json
  packages/statusLambda/jest.config.ts
Due: lint-statusLambda, lint-samtemplates

Attempt 2 of proxygen deployment. PR temp deploy to Dev to test it will deploy
  .github/workflows/pull_request.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions
