Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

deploy to recovery
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Fix: [AEA-0000] - do not use env for regression test (#1930)
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  9a8dcd4c9db4a629e648be06131b248bc4f4bd64
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for int-sandbox
  _data/int-sandbox_deployments.csv
  _data/int-sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Chore: [AEA-4156] - Address Sonar issues (#1929)
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/distanceSelling/src/distanceSelling.ts
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/fhirUtils.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testFhirUtils.test.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/getMyPrescriptions/src/fhirUtils.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/sandbox/tests/test-handler.test.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/sandbox-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/serviceSearchClient/tests/serviceSearch-client.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  sonar-project.properties
Due: lint-sandbox, lint-statusLambda

Notes added by 'git notes add'
  2cae454e6ea2a6aece8a20f9e8fcc9e5e4be970f
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
