Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

adds apigee environment for ghpages release
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

removes old code deployment from ci
  .github/workflows/ci.yml
Due: lint-githubactions

Chore: [AEA-3894] - Adds Apigee Environment for GitHub Pages release tagging (#1212)
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

data fixes
  _data/dev_deployments.csv
  _data/dev_latest.csv
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev_deployments.csv
  _data/qa_latest.csv
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

adds new lines to data csvs
  _data/int-sandbox_deployments.csv
  _data/int-sandbox_latest.csv
  _data/int_deployments.csv
  _data/int_latest.csv
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
  _data/prod_deployments.csv
  _data/prod_latest.csv
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

[cfn-guard] updated regex to account for differing output on first run
  scripts/run_cfn_guard.sh
Due: none

[cfn-guard] tweaking command
  scripts/run_cfn_guard.sh
Due: none

Fix: [AEA-4349] - run cfn_guard (#1185)
  .github/workflows/quality_checks.yml
  .gitignore
  Makefile
  README.md
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/functions/lambda_resources.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/state_machines/state_machine_resources.yaml
  scripts/run_cfn_guard.sh
Due: lint-samtemplates, lint-githubactions

Add SBOM generation flow
  .github/workflows/generate-sbom.yml
Due: lint-githubactions

Install poetry
  .github/workflows/generate-sbom.yml
Due: lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
