Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-getMyPrescriptions
        name: Lint getMyPrescriptions
        entry: npm
        args: ["run", "--prefix=packages/getMyPrescriptions", "lint"]
        language: system
        files: ^packages\/getMyPrescriptions
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-splunkProcessor
        name: Lint Splunk Processor
        entry: npm
        args: ["run", "--prefix=packages/splunkProcessor", "lint"]
        language: system
        files: ^packages\/splunkProcessor
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-middleware
        name: Lint Middleware
        entry: npm
        args: ["run", "--prefix=packages/middleware", "lint"]
        language: system
        files: ^packages\/middleware
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-capabilityStatement
        name: Lint capabilityStatement
        entry: npm
        args: ["run", "--prefix=packages/capabilityStatement", "lint"]
        language: system
        files: ^packages\/capabilityStatement
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-spineClient
        name: Lint spineClient
        entry: npm
        args: ["run", "--prefix=packages/spineClient", "lint"]
        language: system
        files: ^packages\/spineClient
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-getSecretLayer
        name: Lint getSecretLayer
        entry: make
        args: ["lint-go"]
        language: system
        files: ^packages\/getSecretLayer
        pass_filenames: false

fail_fast: true
default_stages: [commit]

improve template
  .github/pull_request_template.md
Due: none

update python dependencies
  .devcontainer/devcontainer.json
  Makefile
  package.json
  poetry.lock
  pyproject.toml
Due: none

udptae pre commit config
  .flake8
  .pre-commit-config.yaml
Due: none

pre commit lint common testing
  .pre-commit-config.yaml
Due: none

update readme
  README.md
Due: none

common licence and author in package.json files
  package.json
  packages/capabilityStatement/package.json
  packages/common/testing/package.json
  packages/getMyPrescriptions/package.json
  packages/middleware/package.json
  packages/sandbox/package.json
  packages/spineClient/package.json
  packages/splunkProcessor/package.json
  packages/statusLambda/package.json
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient

add workflow to link pr to jira
  .github/workflows/pr-link.yml
  README.md
Due: none

update pre commit to not check azure
  .pre-commit-config.yaml
Due: none

update following review
  README.md
Due: none

fix readme following feedback
  README.md
Due: none

put audit logging in place for s3
  cloudformation/ci_resources.yml
  template_splunk_firehose.yaml
Due: none

use correct role for splunk bucket
  template_splunk_firehose.yaml
Due: none

update resources
  cloudformation/ci_resources.yml
Due: none

update pre-commit hooks to lint cloud formation
  .pre-commit-config.yaml
Due: none

run cloudformation lint
  Makefile
  README.md
  cloudformation/ci_resources.yml
  cloudformation/management_route53.yml
Due: none

update readme
  Makefile
  cloudformation/README.md
Due: none

fix cloudformation lint
  Makefile
  cloudformation/ci_resources.yml
Due: none

block public access on buckets
  cloudformation/ci_resources.yml
Due: none

update cloudformation readme
  cloudformation/README.md
Due: none

throw error in splunk processing to test logging
  packages/splunkProcessor/src/splunkProcessor.js
Due: lint-splunkProcessor

revert splunk change
  packages/splunkProcessor/src/splunkProcessor.js
Due: lint-splunkProcessor

remove unecessary kms permissions
  template_splunk_firehose.yaml
Due: none

AEA-3531 update readme (#163)
  .devcontainer/devcontainer.json
  .flake8
  .github/pull_request_template.md
  .github/workflows/pr-link.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  package.json
  packages/capabilityStatement/package.json
  packages/common/testing/package.json
  packages/getMyPrescriptions/package.json
  packages/getSecretLayer/check_licence.sh
  packages/middleware/package.json
  packages/sandbox/package.json
  packages/spineClient/package.json
  packages/splunkProcessor/package.json
  packages/statusLambda/package.json
  poetry.lock
  postman/README.md
  pyproject.toml
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

allow lambda logging permission
  template_splunk_firehose.yaml
Due: none

add back in big permission
  template_splunk_firehose.yaml
Due: none

use ref for role
  template_splunk_firehose.yaml
Due: none

fix splunk
  template_splunk_firehose.yaml
Due: none

bucket permissions
  cloudformation/ci_resources.yml
Due: none

test restrictive kms access
  packages/splunkProcessor/src/splunkProcessor.js
  template_splunk_firehose.yaml
Due: lint-splunkProcessor

make it work
  packages/splunkProcessor/src/splunkProcessor.js
Due: lint-splunkProcessor

AEA-3486 put audit logging in place for s3 (#165)
  .pre-commit-config.yaml
  Makefile
  README.md
  cloudformation/README.md
  cloudformation/ci_resources.yml
  cloudformation/management_route53.yml
  template_splunk_firehose.yaml
Due: none

improve create ca script (#161)
  privateCA/.gitignore
  privateCA/README.md
  privateCA/create_certs.sh
Due: none

Add the isCertificateConfigured method
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/sandbox-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-statusLambda, lint-spineClient

Amend unit tests for spine certificate not configured
  packages/spineClient/src/index.ts
  packages/spineClient/src/spine-client.ts
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda, lint-spineClient

Amend unit tests for success returned from spine
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

Fix unit tests for statusLambda
  packages/spineClient/src/index.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda, lint-spineClient

Add logic and test for error returned when the cert is not configured
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

Add unit test for sandbox env that certificate is always configured
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

Cleanup the code
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda
