Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-enrichPrescriptions:
  name: Lint enrichPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/enrichPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-pfp-sandbox
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-utilities:
  name: Lint common utilities
  entry: npm
  args:
  - run
  - --prefix=packages/common/utilities
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - cfn-lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - actionlint
  language: system
  pass_filenames: false

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

use latest cdk-constructs
  .vscode/prescriptionsforpatients.code-workspace
  package-lock.json
  packages/cdk/package.json
  packages/cdk/resources/Alarms.ts
  packages/cdk/resources/Functions.ts
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

fix
  .github/scripts/release_code.sh
Due: none

really fix
  .github/scripts/release_code.sh
Due: none

check vars
  .github/scripts/release_code.sh
Due: none

fix import
  SAMtemplates/functions/lambda_resources.yaml
Due: lint-samtemplates

Chore: [AEA-6593] - move to new imports (#2601)
  .github/scripts/delete_proxygen_deployments.sh
  .github/scripts/deploy_api.sh
  .github/scripts/release_code.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/sam_release_code.yml
  .vscode/prescriptionsforpatients.code-workspace
  SAMtemplates/alarms/main.yaml
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/functions/lambda_resources.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/state_machines/main.yaml
  SAMtemplates/state_machines/state_machine_resources.yaml
  package-lock.json
  packages/cdk/package.json
  packages/cdk/resources/Alarms.ts
  packages/cdk/resources/Functions.ts
Due: lint-samtemplates, lint-githubactions

more import changes
  SAMtemplates/apis/main.yaml
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Chore: [AEA-6593] - more import changes (#2602)
  SAMtemplates/apis/main.yaml
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
