Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-enrichPrescriptions:
  name: Lint enrichPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/enrichPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-pfp-sandbox
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-utilities:
  name: Lint common utilities
  entry: npm
  args:
  - run
  - --prefix=packages/common/utilities
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - cfn-lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - actionlint
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

use newer workflow to tag jira
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  packages/capabilityStatement/src/test.ts
Due: lint-capabilityStatement, lint-githubactions

update trivy
  .trivyignore.yaml
Due: none

remove test file
  packages/capabilityStatement/src/test.ts
Due: lint-capabilityStatement

Chore: [AEA-0000] - use newer workflow to tag jira (#2493)
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .trivyignore.yaml
Due: lint-githubactions

feat: scaffold app with cdk
  .gitignore
  Makefile
  package-lock.json
  package.json
  packages/cdk/bin/PfPApiApp.ts
  packages/cdk/bin/PfPApiSandboxApp.ts
  packages/cdk/cdk.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/package.json
  packages/cdk/resources/Apis.ts
  packages/cdk/resources/Functions.ts
  packages/cdk/resources/StateMachineDefinitions/GetMyPrescriptions.ts
  packages/cdk/resources/StateMachines.ts
  packages/cdk/scripts/deleteMainStacks.ts
  packages/cdk/scripts/deletePrStacks.ts
  packages/cdk/stacks/PfPApiSandboxStack.ts
  packages/cdk/stacks/PfPApiStack.ts
  packages/cdk/tsconfig.json
Due: none

chore: migrate statemachine to JSONata
  packages/cdk/resources/StateMachineDefinitions/GetMyPrescriptions.ts
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
