Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

chore: latest qc
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  zizmor.yml
Due: lint-githubactions

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

chore: latest qc
  zizmor.yml
Due: none

chore: switch cdk utils to official build
  nhsdigital-eps-cdk-constructs-1.6.0.tgz
  package-lock.json
  package.json
  packages/cdk/package.json
Due: none

ops: deploy cdk alongside sam
  .github/workflows/pull_request.yml
Due: lint-githubactions

ops: enable regression tests
  .github/workflows/pull_request.yml
Due: lint-githubactions

ops: permissions
  .github/workflows/pull_request.yml
Due: lint-githubactions

chore: update lock file
  package-lock.json
Due: none

fix: middy/powertools incompatibility
  packages/cdk/resources/SandboxApis.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

chore: exclude cdk.out from linting
  eslint.config.mjs
Due: none

fix: dep issue
  package-lock.json
  packages/specification/package.json
Due: none

ops: enable cdk
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix: nag suppressions in sandbox
  packages/cdk/nagSuppressions.ts
Due: none

fix: reg test invocation
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix: invocation of PFP-AWS tests
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix: stack name to regression test alignment
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

ops: lock down workflow perms
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

chore: pre-commit link cdk
  .pre-commit-config.yaml
Due: none

chore: add cdk to sonar
  sonar-project.properties
Due: none

chore: update line numbers in zizmor
  zizmor.yml
Due: none

ops: permit cdk to access service search secret
  SAMtemplates/secrets/main.yaml
Due: lint-samtemplates

chore: hold refs to cdk constructs so sonar happy
  packages/cdk/bin/PfPApiSandboxApp.ts
  packages/cdk/resources/Alarms.ts
  packages/cdk/stacks/PfPApiSandboxStack.ts
  packages/cdk/stacks/PfPApiStack.ts
Due: none

chore: add sonar for 'clean as you code'
  .devcontainer/devcontainer.json
Due: none

chore: more sonar
  packages/cdk/bin/PfPApiSandboxApp.ts
  packages/cdk/resources/Alarms.ts
  packages/cdk/tests/MetricAlarm.test.ts
Due: none

test: increase coverage
  packages/cdk/tests/stacks.test.ts
  packages/cdk/tests/synth.test.ts
  packages/cdk/vitest.config.ts
  vitest.default.config.ts
Due: none

fix: add SS secret policy to lambda
  packages/cdk/resources/Functions.ts
Due: none

chore: use explicit encryption for test topic
  packages/cdk/tests/MetricAlarm.test.ts
Due: none

chore: ignore sonar
  packages/cdk/tests/synth.test.ts
Due: none

ops: import policy arn
  .github/workflows/pull_request.yml
  packages/cdk/resources/Functions.ts
Due: lint-githubactions

Fix: align CDK PR stack names with deletePrStacks prefix pfp-api
  .github/workflows/pull_request.yml
Due: lint-githubactions

Feat: add CDK zero-downtime deployment to ci.yml and release.yml
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/release.yml
Due: lint-githubactions

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none
