Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

chore: fix PR URL
  .github/scripts/delete_proxygen_deployments.sh
Due: none

chore: debugging, auth to avoid rate limit
  .github/scripts/delete_proxygen_deployments.sh
Due: none

chore: return to common pattern for finding pr
  .github/scripts/delete_proxygen_deployments.sh
Due: none

chore: debugging
  .github/scripts/delete_proxygen_deployments.sh
Due: none

chore: pass token
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: lint-githubactions

chore: revert debug logging
  .github/scripts/delete_proxygen_deployments.sh
Due: none

Revert "chore: bump to python 3.14"
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
Due: none

chore: quote env var
  .github/scripts/delete_proxygen_deployments.sh
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Chore: [AEA-0000] - add Proxygen cleanup (#2445)
  .github/scripts/delete_proxygen_deployments.sh
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: lint-githubactions

chore: regen package lock
  package-lock.json
Due: none

Notes added by 'git notes add'
  4be12a0fd3945e4164ac27d636d018b2c36bfba3
Due: none

Revert "Chore: [AEA-6165] - remove code to make service search v2 calls (#2422)"
  .trivyignore.yaml
  SAMtemplates/functions/main.yaml
  packages/common/testing/src/mockServiceSearchResponseBodyPharmacy2u.json
  packages/common/testing/src/mockServiceSearchResponseBodyPharmica.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-samtemplates

chore: send old and new key
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient

Chore: [AEA-0000] - send old and new key (#2447)
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: lint-serviceSearchClient
