Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

new regression test script
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
  scripts/run_regression_tests.py
Due: lint-githubactions

fix pr
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

use common script
  .github/workflows/run_regression_tests.yml
  scripts/run_regression_tests.py
Due: lint-githubactions

Throw an actual error
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

Fix imports
  packages/capabilityStatement/tests/test-handler.test.ts
Due: none

Nullish coalescing
  packages/distanceSelling/src/distanceSelling.ts
Due: none

Resolve circular imports
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
Due: none

Remove unnecessary assertion
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
Due: none

Don't combine non null check with equality check
  packages/enrichPrescriptions/src/fhirUtils.ts
Due: none

Don't combine non null check with equality check. Also remove unnecessary null assertions
  packages/enrichPrescriptions/src/fhirUtils.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testFhirUtils.test.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Remove unnecessary assertion
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Address some more issues
  packages/getMyPrescriptions/src/fhirUtils.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: none

Remove assertions
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
Due: none

fix imports
  packages/sandbox/tests/test-handler.test.ts
Due: lint-sandbox

Resolve circular import
  packages/serviceSearchClient/src/sandbox-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
Due: none

Remove unnecessary type casting
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda

Refactor run regression tests to have lower cognitive complexity
  scripts/run_regression_tests.py
Due: none

Use a more descriptive exception for regression test failure
  scripts/run_regression_tests.py
Due: none

Update sonar config to exclude tests from duplication checks
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
  sonar-project.properties
Due: none

Update sonar configuration
  sonar-project.properties
Due: none

new tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fix url
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - new regression test script (#1928)
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sam_release_code.yml
  scripts/run_regression_tests.py
Due: lint-githubactions

Notes added by 'git notes add'
  9db83117dd4f1299598681e849e1bc2411007ab4
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
