Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-getMyPrescriptions
        name: Lint getMyPrescriptions
        entry: npm
        args: ["run", "--prefix=packages/getMyPrescriptions", "lint"]
        language: system
        files: ^packages\/getMyPrescriptions
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-splunkProcessor
        name: Lint Splunk Processor
        entry: npm
        args: ["run", "--prefix=packages/splunkProcessor", "lint"]
        language: system
        files: ^packages\/splunkProcessor
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-middleware
        name: Lint Middleware
        entry: npm
        args: ["run", "--prefix=packages/middleware", "lint"]
        language: system
        files: ^packages\/middleware
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-capabilityStatement
        name: Lint capabilityStatement
        entry: npm
        args: ["run", "--prefix=packages/capabilityStatement", "lint"]
        language: system
        files: ^packages\/capabilityStatement
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-spineClient
        name: Lint spineClient
        entry: npm
        args: ["run", "--prefix=packages/spineClient", "lint"]
        language: system
        files: ^packages\/spineClient
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-getSecretLayer
        name: Lint getSecretLayer
        entry: make
        args: ["lint-go"]
        language: system
        files: ^packages\/getSecretLayer
        pass_filenames: false

fail_fast: true
default_stages: [commit]

squash dependabot PRs
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

squash dependabot PRs (#294)
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

use PAT for automerge
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

use PAT for automerge (#295)
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

Update project to work with middy v5
  .vscode/prescriptionsforpatients.code-workspace
  package-lock.json
  packages/capabilityStatement/.vscode/settings.json
  packages/capabilityStatement/jest.config.ts
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tsconfig.json
  packages/common/.vscode/settings.json
  packages/common/testing/package.json
  packages/common/testing/src/index.ts
  packages/common/testing/src/test_append_trace_id.ts
  packages/common/testing/tsconfig.json
  packages/getMyPrescriptions/.vscode/settings.json
  packages/getMyPrescriptions/jest.config.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/getSecretLayer/.vscode/settings.json
  packages/middleware/.eslintrc
  packages/middleware/.vscode/settings.json
  packages/middleware/jest.config.ts
  packages/middleware/package.json
  packages/middleware/src/index.js
  packages/middleware/tests/index.test.js
  packages/middleware/tsconfig.json
  packages/sandbox/.vscode/settings.json
  packages/sandbox/jest.config.ts
  packages/sandbox/package.json
  packages/sandbox/tsconfig.json
  packages/spineClient/.vscode/settings.json
  packages/spineClient/jest.config.ts
  packages/spineClient/package.json
  packages/splunkProcessor/.vscode/settings.json
  packages/statusLambda/.vscode/settings.json
  packages/statusLambda/jest.config.ts
  packages/statusLambda/package.json
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/tsconfig.json
  tsconfig.defaults.json
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

use a common jest config
  jest.default.config.ts
  packages/capabilityStatement/jest.config.ts
  packages/getMyPrescriptions/jest.config.ts
  packages/middleware/jest.config.ts
  packages/sandbox/jest.config.ts
  packages/spineClient/jest.config.ts
  packages/statusLambda/jest.config.ts
Due: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient

more pretty print of log messages
  packages/spineClient/package.json
  packages/splunkProcessor/package.json
Due: lint-splunkProcessor, lint-spineClient

fix package.json for capability statement
  package-lock.json
  packages/capabilityStatement/package.json
Due: lint-capabilityStatement

AEA-3682 middy v5 upgrade (#360)
  .vscode/prescriptionsforpatients.code-workspace
  jest.default.config.ts
  package-lock.json
  packages/capabilityStatement/.vscode/settings.json
  packages/capabilityStatement/jest.config.ts
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tsconfig.json
  packages/common/.vscode/settings.json
  packages/common/testing/package.json
  packages/common/testing/src/index.ts
  packages/common/testing/src/test_append_trace_id.ts
  packages/common/testing/tsconfig.json
  packages/getMyPrescriptions/.vscode/settings.json
  packages/getMyPrescriptions/jest.config.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/getSecretLayer/.vscode/settings.json
  packages/middleware/.eslintrc
  packages/middleware/.vscode/settings.json
  packages/middleware/jest.config.ts
  packages/middleware/package.json
  packages/middleware/src/index.js
  packages/middleware/tests/index.test.js
  packages/middleware/tsconfig.json
  packages/sandbox/.vscode/settings.json
  packages/sandbox/jest.config.ts
  packages/sandbox/package.json
  packages/sandbox/tsconfig.json
  packages/spineClient/.vscode/settings.json
  packages/spineClient/jest.config.ts
  packages/spineClient/package.json
  packages/splunkProcessor/.vscode/settings.json
  packages/splunkProcessor/package.json
  packages/statusLambda/.vscode/settings.json
  packages/statusLambda/jest.config.ts
  packages/statusLambda/package.json
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/tsconfig.json
  tsconfig.defaults.json
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

AEA-3450 Added serviceSearchClient. Identical to spineClient, just renamed.
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  package.json
  packages/serviceSearchClient/.eslintrc
  packages/serviceSearchClient/.vscode/settings.json
  packages/serviceSearchClient/jest.config.ts
  packages/serviceSearchClient/package.json
  packages/serviceSearchClient/src/extractNHSNumber.ts
  packages/serviceSearchClient/src/index.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/sandbox-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
  packages/serviceSearchClient/src/status.ts
  packages/serviceSearchClient/tests/extractNHSNumber.test.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/serviceSearchClient/tests/status.test.ts
  packages/serviceSearchClient/tsconfig.json
  sonar-project.properties
  tsconfig.build.json
Due: none

AEA-3450 Added secrets to CF, SAM and getSecretLayer.
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  cloudformation/account_resources.yml
  packages/getSecretLayer/README.md
  packages/getSecretLayer/src/get-secrets-layer
Due: lint-getSecretLayer

AEA-3450 Test data for interaction and service search.
  packages/common/testing/src/index.ts
  packages/common/testing/src/mockInteractionResponseBody.json
  packages/common/testing/src/mockServiceSearchResponseBody.json
Due: none

AEA-3450 Make new client available to getMyPrescriptions.
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/tsconfig.json
Due: lint-getMyPrescriptions

AEA-3450 Updated package.lock file.
  package-lock.json
Due: none

log spine duration
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/spineClient/src/status.ts
  packages/spineClient/tests/live-spine-client.test.ts
  packages/spineClient/tests/status.test.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient

Add the ticket title
  README.md
Due: none

AEA-3690 log spine duration (#385)
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/spineClient/src/status.ts
  packages/spineClient/tests/live-spine-client.test.ts
  packages/spineClient/tests/status.test.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-getMyPrescriptions, lint-statusLambda, lint-spineClient

AEA-3450 Test debugging working.
  packages/capabilityStatement/.vscode/launch.json
  packages/capabilityStatement/.vscode/settings.json
  packages/common/.vscode/launch.json
  packages/common/.vscode/settings.json
  packages/getMyPrescriptions/.vscode/launch.json
  packages/getMyPrescriptions/.vscode/settings.json
  packages/getSecretLayer/.vscode/launch.json
  packages/getSecretLayer/.vscode/settings.json
  packages/middleware/.vscode/launch.json
  packages/middleware/.vscode/settings.json
  packages/sandbox/.vscode/launch.json
  packages/sandbox/.vscode/settings.json
  packages/serviceSearchClient/.vscode/launch.json
  packages/serviceSearchClient/.vscode/settings.json
  packages/spineClient/.vscode/launch.json
  packages/spineClient/.vscode/settings.json
  packages/splunkProcessor/.vscode/launch.json
  packages/splunkProcessor/.vscode/settings.json
  packages/statusLambda/.vscode/launch.json
  packages/statusLambda/.vscode/settings.json
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

AEA-3450 Added TargetServiceSearchServer to Makefile and SAM templates.
  Makefile
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
Due: none

AEA-3450 Little rename.
  Makefile
Due: none

AEA-3450 Changed extractNHSNumber to validateUrl. Trimmed-down tests for now.
  packages/serviceSearchClient/src/extractNHSNumber.ts
  packages/serviceSearchClient/src/validateUrl.ts
  packages/serviceSearchClient/tests/extractNHSNumber.test.ts
  packages/serviceSearchClient/tests/validateUrl.test.ts
Due: none

AEA-3450 UrlValidationError not needed.
  packages/serviceSearchClient/src/index.ts
  packages/serviceSearchClient/src/validateUrl.ts
Due: none

AEA-3450 Progress on URL validation.
  packages/serviceSearchClient/src/validateUrl.ts
  packages/serviceSearchClient/tests/validateUrl.test.ts
Due: none

AEA-3450 Tweaks to URL validation tests.
  packages/serviceSearchClient/tests/validateUrl.test.ts
Due: none

AEA-3450 Typing in sandbox client.
  packages/serviceSearchClient/src/sandbox-serviceSearch-client.ts
Due: none

AEA-3450 Fix client interface.
  packages/serviceSearchClient/src/serviceSearch-client.ts
Due: none

AEA-3450 Trimmed-down live client and tests.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

AEA-3450 Added values to cSpell config.
  .vscode/prescriptionsforpatients.code-workspace
Due: none

AEA-3450 New client tests now passing.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/spineClient/tests/live-spine-client.test.ts
Due: lint-spineClient

add Natasa as a contributor
  pyproject.toml
Due: none

fix typo
  pyproject.toml
Due: none

AEA-3701 test lambda release notes (#400)
  pyproject.toml
Due: none

AEA-3450 Only api key needed for new client.
  SAMtemplates/lambda_resources.yaml
  SAMtemplates/main_template.yaml
  cloudformation/account_resources.yml
  packages/getSecretLayer/src/get-secrets-layer
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/sandbox-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
  packages/serviceSearchClient/src/status.ts
  packages/serviceSearchClient/tests/status.test.ts
Due: lint-getSecretLayer

AEA-3450 Added api-version param and scenario for no services in response.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/status.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

AEA-3450 Removed duplicate tests.
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

AEA-3450 Missing secret and some bits.
  .github/workflows/sam_release_code.yml
  Makefile
  packages/serviceSearchClient/tests/validateUrl.test.ts
Due: none

AEA-3450 Made status code for clients almost identical.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
  packages/serviceSearchClient/src/status.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
  packages/serviceSearchClient/tests/status.test.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/status.ts
  packages/spineClient/tests/status.test.ts
Due: lint-spineClient

AEA-3450 Made new client available to statusLambda.
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tsconfig.json
Due: lint-statusLambda
