Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-splunkProcessor:
  name: Lint Splunk Processor
  entry: npm
  args:
  - run
  - --prefix=packages/splunkProcessor
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-spineClient:
  name: Lint spineClient
  entry: npm
  args:
  - run
  - --prefix=packages/spineClient
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

Excluded test files from sonar coverage and standardized test file names (#151)
  packages/middleware/jest.config.ts
  packages/middleware/tests/index.test.js
  sonar-project.properties
Due: lint-middleware

Excluded more pipeline / testing stuff from sonar coverage
  sonar-project.properties
Due: none

[AEA-3509] removed unused log level from sandbox template
  sandbox_template.yaml
Due: none

Excluded more pipeline / testing stuff from sonar coverage (#153)
  sonar-project.properties
Due: none

[AEA-3509] debugging pipeline
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

[AEA-3509] debugging pipeline
  Makefile
Due: none

improve coverage
  packages/splunkProcessor/src/splunkProcessor.js
Due: lint-splunkProcessor

[AEA-3509] debugging pipeline
  .github/workflows/sam_release_code.yml
  Makefile
Due: none

more refactor
  packages/splunkProcessor/src/splunkProcessor.js
Due: lint-splunkProcessor

[AEA-3509] fixing typo in makefile
  Makefile
Due: none

add unit tests for splunk processor
  packages/splunkProcessor/.eslintrc
  packages/splunkProcessor/jest.config.js
  packages/splunkProcessor/src/splunkProcessor.js
  packages/splunkProcessor/tests/createReingestionRecord.test.js
  packages/splunkProcessor/tests/getReingestionRecord.test.js
  packages/splunkProcessor/tests/putRecordsToFirehoseStream.test.js
  packages/splunkProcessor/tests/putRecordsToKinesisStream.test.js
  packages/splunkProcessor/tests/reingestRecordBatches.test.js
Due: lint-splunkProcessor

unit test for batchRecordsToReingest
  packages/splunkProcessor/tests/batchRecordsToReingest.test.js
Due: lint-splunkProcessor

refactor to put helpers in different files
  packages/splunkProcessor/src/helpers.js
  packages/splunkProcessor/src/splunkProcessor.js
  packages/splunkProcessor/tests/putRecordsToFirehoseStream.test.js
  packages/splunkProcessor/tests/putRecordsToKinesisStream.test.js
  packages/splunkProcessor/tests/reingestRecordBatches.test.js
Due: lint-splunkProcessor

refactor for easier reading
  packages/splunkProcessor/src/splunkProcessor.js
Due: lint-splunkProcessor

remove unneeded comment
  packages/splunkProcessor/src/splunkProcessor.js
Due: lint-splunkProcessor

AEA-3509: Sensitive logging (#152)
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  template.yaml
Due: lint-getMyPrescriptions

minor version updates
  .github/dependabot.yml
  package-lock.json
Due: none

update major versions
  package-lock.json
  package.json
Due: none

add unit tests for splunk processor (#156)
  packages/splunkProcessor/.eslintrc
  packages/splunkProcessor/jest.config.js
  packages/splunkProcessor/src/helpers.js
  packages/splunkProcessor/src/splunkProcessor.js
  packages/splunkProcessor/tests/batchRecordsToReingest.test.js
  packages/splunkProcessor/tests/createReingestionRecord.test.js
  packages/splunkProcessor/tests/getReingestionRecord.test.js
  packages/splunkProcessor/tests/putRecordsToFirehoseStream.test.js
  packages/splunkProcessor/tests/putRecordsToKinesisStream.test.js
  packages/splunkProcessor/tests/reingestRecordBatches.test.js
Due: lint-splunkProcessor

improve github release description
  .github/workflows/release.yml
Due: none

improve github release description (#157)
  .github/workflows/release.yml
Due: none

add version tag to cloudformation stack
  Makefile
Due: none

add version tag to cloudformation stack (#159)
  Makefile
Due: none

permissions for tagging
  cloudformation/ci_resources.yml
Due: none

permissions for tagging (#160)
  cloudformation/ci_resources.yml
Due: none

improve create ca script
  privateCA/.gitignore
  privateCA/README.md
  privateCA/create_certs.sh
Due: none

improve readme
  privateCA/README.md
Due: none

fix deployment tagging
  .github/workflows/sam_release_code.yml
Due: none

do not need another job
  .github/workflows/sam_release_code.yml
Due: none

we need environment for stage gates
  .github/workflows/sam_release_code.yml
Due: none

run another step
  .github/workflows/sam_release_code.yml
Due: none

check licencse for everything
  Makefile
  README.md
Due: none

report golang licences
  Makefile
Due: none

fix path
  Makefile
  README.md
Due: none

script for checking golang licences
  Makefile
  packages/getSecretLayer/check_licence.sh
Due: lint-getSecretLayer

consistent names for make targets related to go
  Makefile
  README.md
  postman/README.md
Due: none

add more comments about this api
  README.md
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-splunkProcessor: any of: ^packages\/splunkProcessor and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
