Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-enrichPrescriptions, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-serviceSearchClient, lint-distanceSelling, lint-common-utilities, lint-common-testing, lint-getSecretLayer, lint-samtemplates, lint-githubactions

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-enrichPrescriptions:
  name: Lint enrichPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/enrichPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-pfp-sandbox
  - lint
  language: system
  pass_filenames: false

lint-serviceSearchClient:
  name: Lint serviceSearchClient
  entry: npm
  args:
  - run
  - --prefix=packages/serviceSearchClient
  - lint
  language: system
  pass_filenames: false

lint-distanceSelling:
  name: Lint distanceSelling
  entry: npm
  args:
  - run
  - --prefix=packages/distanceSelling
  - lint
  language: system
  pass_filenames: false

lint-common-utilities:
  name: Lint common utilities
  entry: npm
  args:
  - run
  - --prefix=packages/common/utilities
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - cfn-lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - actionlint
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

chore: cannot run reg tests 3.11 or later until gsul released
  .github/workflows/run_regression_tests.yml
  package-lock.json
Due: lint-githubactions

ops: latest common workflows inc cdk-synth
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

chore: removed synth test now in quality checks common workflow
  packages/cdk/tests/synth.test.ts
Due: none

update
  package-lock.json
Due: none

fix
  package-lock.json
Due: none

fix
  package-lock.json
  packages/common/utilities/package.json
  packages/getMyPrescriptions/package.json
Due: lint-getMyPrescriptions

fix
  package-lock.json
  packages/specification/package.json
Due: none

Chore: [AEA-0000] - fix package-lock.json (#2563)
  package-lock.json
  packages/common/utilities/package.json
  packages/getMyPrescriptions/package.json
  packages/specification/package.json
Due: lint-getMyPrescriptions

chore: regen lock
  package-lock.json
Due: none

chore: npm audit fix
  package-lock.json
Due: none

chore: merge main package-lock and install
  package-lock.json
Due: none

Notes added by 'git notes add'
  ea5d0bb06bd932f8077f159cacbbd1bfc590b4d2
Due: none

chore: remove items deprecated in typescript 6
  tsconfig.defaults.json
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

chore: cdk constructs
  package-lock.json
  packages/cdk/package.json
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

fix: remove unnecessary cdk diff
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

ops: remove unnecessarysteps: checkout, jira, release notes
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-enrichPrescriptions: any of: ^packages\/enrichPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-pfp-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-utilities: any of: ^packages\/common\/src and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
