Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-serviceSearchClient, lint-distanceSelling, lint-common-testing, lint-getSecretLayer, lint-cloudformation, lint-samtemplatess

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-spineClient: any of: ^packages\/spineClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-serviceSearchClient: any of: ^packages\/serviceSearchClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-distanceSelling: any of: ^packages\/distanceSelling and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-samtemplatess: any of: ^SAMtemplates

AEA-3899 Another state machine correction.
  SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
Due: lint-samtemplatess

set default value on vars
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.old.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplatess

AEA-3899 Back to just 'handler' due to regex check in state machine.
  SAMtemplates/functions/main.yaml
  SAMtemplates/state_machines/main.yaml
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions, lint-samtemplatess

export var
  .github/scripts/release_code.sh
Due: none

no space in var
  .github/scripts/release_code.sh
Due: none

Fix: [AEA-4071]- correct dns names for sandbox deployments (#872)
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/sandbox_template.yaml
Due: lint-samtemplatess

AEA-3899 Added trace ids to logs and returning as headers from enrichPrescriptions..
  packages/enrichPrescriptions/src/enrichPrescriptions.ts
  packages/enrichPrescriptions/src/responses.ts
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/utils.ts
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/responses.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/getMyPrescriptions/tests/utils.ts
Due: lint-getMyPrescriptions

AEA-3899 Caught bug for adding to existing extension array.
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

AEA-3899 Temporarily enable mutual tls for pr stack.
  .github/workflows/pull_request.yml
Due: none

AEA-3899 Revert previous temporary change. Mutual TLS disabled for PR stack.
  .github/workflows/pull_request.yml
Due: none

AEA-3899 Add middy header normaliser.
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions

fixes open handles
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions

adds logging, refactors middleware
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

refactors tests
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

fix delete stacks
  .github/scripts/delete_stacks.sh
Due: none

run twice a day
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: none

renames constants
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

Add the extension snippet to the test data
  packages/common/testing/src/mockAPIResponseBody.json
  packages/common/testing/src/mockInteractionResponseBody.json
Due: lint-common-testing

Fix: [AEA-0000] - fix delete stacks (#893)
  .github/scripts/delete_stacks.sh
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: none

rewrites test to handle impurity
  packages/getMyPrescriptions/tests/test-handler.test.ts
Due: lint-getMyPrescriptions

Add task-businessStatus-nppt extension to test data
  packages/common/testing/src/mockAPIResponseBody.json
  packages/common/testing/src/mockInteractionResponseBody.json
Due: lint-common-testing

Add logic and test data for all items with status of Prescriber Approved or Cancelled
  packages/common/testing/src/mockAPIResponseBody.json
  packages/common/testing/src/mockInteractionResponseBody.json
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions, lint-common-testing

Fix ServiceSearch unit test
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: lint-distanceSelling

Fix update tracking status logic and updater tests
  packages/common/testing/src/mockAPIResponseBody.json
  packages/common/testing/src/mockInteractionResponseBody.json
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/getMyPrescriptions/src/statusUpdate.ts
  packages/getMyPrescriptions/tests/fhirUtils.test.ts
Due: lint-getMyPrescriptions, lint-distanceSelling, lint-common-testing

Add businessStatus check for enrich prescriptions
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/simple/requestBundlePA.json
  packages/enrichPrescriptions/tests/data/simple/responseBundlePA.json
  packages/enrichPrescriptions/tests/data/simple/statusUpdatesCancelled.json
  packages/enrichPrescriptions/tests/data/simple/statusUpdatesPA.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

Add a status update log message
  packages/enrichPrescriptions/src/statusUpdates.ts
Due: none

Add businessStatus and statusDate checkt to the test
  packages/enrichPrescriptions/tests/data/simple/statusUpdatesPA.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Add a test for an item with status Cancelled
  packages/enrichPrescriptions/tests/data/simple/requestBundleCancelled.json
  packages/enrichPrescriptions/tests/data/simple/responseBundleCancelled.json
  packages/enrichPrescriptions/tests/data/simple/statusUpdatesCancelled.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

Remove unnecessary imports
  packages/enrichPrescriptions/tests/data/simple/responseBundleCancelled.json
  packages/enrichPrescriptions/tests/data/simple/responseBundlePA.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
  packages/enrichPrescriptions/tests/utils.ts
Due: none

AEA-4008 Implementation and tests.
  packages/enrichPrescriptions/src/statusUpdates.ts
  packages/enrichPrescriptions/tests/data/rich/responseBundle.json
  packages/enrichPrescriptions/tests/data/rich/statusUpdates.json
  packages/enrichPrescriptions/tests/testStatusUpdate.test.ts
Due: none

Find the relevant extension using provided url
  packages/enrichPrescriptions/src/statusUpdates.ts
Due: none

Cleanup the code
  packages/enrichPrescriptions/src/statusUpdates.ts
Due: none

Find the status code using the extension url
  packages/getMyPrescriptions/src/statusUpdate.ts
Due: lint-getMyPrescriptions

Remove unnecessary log message
  packages/getMyPrescriptions/src/statusUpdate.ts
Due: lint-getMyPrescriptions

Add the EXTENSION_URL variable
  packages/getMyPrescriptions/src/statusUpdate.ts
Due: lint-getMyPrescriptions

Refactor the code
  packages/getMyPrescriptions/src/statusUpdate.ts
Due: lint-getMyPrescriptions

Add log and return early if allItemsApprovedOrCancelled is true
  packages/getMyPrescriptions/src/statusUpdate.ts
Due: lint-getMyPrescriptions

Amend the test to exclude prescriptions
  packages/getMyPrescriptions/tests/statusUpdate.test.ts
Due: lint-getMyPrescriptions
