Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-getMyPrescriptions
        name: Lint getMyPrescriptions
        entry: npm
        args: ["run", "--prefix=packages/getMyPrescriptions", "lint"]
        language: system
        files: ^packages\/getMyPrescriptions
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-splunkProcessor
        name: Lint Splunk Processor
        entry: npm
        args: ["run", "--prefix=packages/splunkProcessor", "lint"]
        language: system
        files: ^packages\/splunkProcessor
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-middleware
        name: Lint Middleware
        entry: npm
        args: ["run", "--prefix=packages/middleware", "lint"]
        language: system
        files: ^packages\/middleware
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-statusLambda
        name: Lint statusLambda
        entry: npm
        args: ["run", "--prefix=packages/statusLambda", "lint"]
        language: system
        files: ^packages\/statusLambda
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-capabilityStatement
        name: Lint capabilityStatement
        entry: npm
        args: ["run", "--prefix=packages/capabilityStatement", "lint"]
        language: system
        files: ^packages\/capabilityStatement
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-spineClient
        name: Lint spineClient
        entry: npm
        args: ["run", "--prefix=packages/spineClient", "lint"]
        language: system
        files: ^packages\/spineClient
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-getSecretLayer
        name: Lint getSecretLayer
        entry: make
        args: ["lint-go"]
        language: system
        files: ^packages\/getSecretLayer
        pass_filenames: false

fail_fast: true
default_stages: [commit]

AEA-3450 Made statusLambda less aware of spineClient.
  packages/spineClient/src/index.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-statusLambda, lint-spineClient

AEA-3450 Removed unnecessary attributes from SpineStatus interface.
  packages/spineClient/src/live-spine-client.ts
  packages/statusLambda/src/statusLambda.ts
Due: lint-statusLambda, lint-spineClient

AEA-3450 Moved interfaces and types together in top-level client files.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/spine-client.ts
Due: lint-spineClient

AEA-3450 Added isKeyConfigured to getStatus of new client.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/status.ts
Due: none

AEA-3450 Tweaks to status and tests.
  packages/serviceSearchClient/src/status.ts
  packages/serviceSearchClient/tests/status.test.ts
Due: none

AEA-3450 Removed logger param from new getStatus.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
Due: none

AEA-3450 Status lambda now includes service search.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/spineClient/src/live-spine-client.ts
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
Due: lint-statusLambda, lint-spineClient

AEA-3450 Query refinement.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

AEA-3450 Re-worked url validation to use in-built URL library.
  package-lock.json
  packages/serviceSearchClient/src/handleUrl.ts
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/sandbox-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
  packages/serviceSearchClient/src/validateUrl.ts
  packages/serviceSearchClient/tests/handleUrl.test.ts
  packages/serviceSearchClient/tests/live-serviceSearch-client.test.ts
Due: none

AEA-3450 Changed serviceName in handleUrl test logger config.
  packages/serviceSearchClient/tests/handleUrl.test.ts
Due: none

added new inputs, conditional logic for getting tags & sceanrios in ccrn. created 2 new sceanrios in release.yml
  .github/workflows/create_confluence_release_notes.yml
  .github/workflows/release.yml
Due: none

AEA-3450 Missed reference to this in new client.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
Due: none

AEA-3450 Removed status capability from serviceSearch and serviceSearch from statusLambda.
  packages/serviceSearchClient/src/live-serviceSearch-client.ts
  packages/serviceSearchClient/src/sandbox-serviceSearch-client.ts
  packages/serviceSearchClient/src/serviceSearch-client.ts
  packages/serviceSearchClient/src/status.ts
  packages/serviceSearchClient/tests/status.test.ts
  packages/statusLambda/src/statusLambda.ts
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/tsconfig.json
Due: lint-statusLambda

AEA-3450 Added fhir types and files to hold serviceSearch.
  .vscode/prescriptionsforpatients.code-workspace
  package-lock.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/serviceSearch.ts
  packages/getMyPrescriptions/tests/serviceSearch.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Actual fix for maddening jest running/debugging issues.
  packages/capabilityStatement/.vscode/launch.json
  packages/capabilityStatement/jest.config.ts
  packages/capabilityStatement/jest.debug.config.ts
  packages/common/.vscode/launch.json
  packages/getMyPrescriptions/.vscode/launch.json
  packages/getMyPrescriptions/jest.config.ts
  packages/getMyPrescriptions/jest.debug.config.ts
  packages/getSecretLayer/.vscode/launch.json
  packages/middleware/.vscode/launch.json
  packages/middleware/jest.config.ts
  packages/middleware/jest.debug.config.ts
  packages/sandbox/.vscode/launch.json
  packages/sandbox/jest.config.ts
  packages/sandbox/jest.debug.config.ts
  packages/serviceSearchClient/.vscode/launch.json
  packages/serviceSearchClient/jest.config.ts
  packages/serviceSearchClient/jest.debug.config.ts
  packages/spineClient/.vscode/launch.json
  packages/spineClient/jest.config.ts
  packages/spineClient/jest.debug.config.ts
  packages/splunkProcessor/.vscode/launch.json
  packages/splunkProcessor/jest.debug.config.ts
  packages/statusLambda/.vscode/launch.json
  packages/statusLambda/jest.config.ts
  packages/statusLambda/jest.debug.config.ts
Due: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware, lint-statusLambda, lint-capabilityStatement, lint-sandbox, lint-spineClient, lint-getSecretLayer

AEA-3450 Added OperationOutcome to example response.
  packages/common/testing/src/mockInteractionResponseBody.json
Due: none

AEA-3450 Exporting ServiceSearchClient class from new client.
  packages/serviceSearchClient/src/index.ts
Due: none

AEA-3450 Progress on ServiceSearch class and tests.
  packages/getMyPrescriptions/src/serviceSearch.ts
  packages/getMyPrescriptions/tests/serviceSearch.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Calling out to ServiceSearch from getMyPrescriptions.
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
Due: lint-getMyPrescriptions

AEA-3450 Addition to cSpell.
  .vscode/prescriptionsforpatients.code-workspace
Due: none

AEA-3450 Progress on getting ODS codes.
  packages/getMyPrescriptions/src/serviceSearch.ts
  packages/getMyPrescriptions/tests/serviceSearch.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Improved readability in getPerformerReferences.
  packages/getMyPrescriptions/src/serviceSearch.ts
Due: lint-getMyPrescriptions

AEA-3450 More readability.
  packages/getMyPrescriptions/src/serviceSearch.ts
Due: lint-getMyPrescriptions

AEA-3450 Consistency between functions in ServiceSearch.
  packages/getMyPrescriptions/src/serviceSearch.ts
Due: lint-getMyPrescriptions

AEA-3450 Added filterEntries function.
  packages/getMyPrescriptions/src/serviceSearch.ts
Due: lint-getMyPrescriptions

AEA-3450 Using filterAndTypeBundleEntries function.
  packages/getMyPrescriptions/src/serviceSearch.ts
Due: lint-getMyPrescriptions

AEA-3450 Using local cache and client in ServiceSearch class.
  packages/getMyPrescriptions/src/serviceSearch.ts
  packages/getMyPrescriptions/tests/serviceSearch.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Now using local cache or client.
  packages/getMyPrescriptions/src/serviceSearch.ts
Due: lint-getMyPrescriptions

AEA-3450 Made mock data distance selling.
  packages/common/testing/src/mockInteractionResponseBody.json
  packages/common/testing/src/mockServiceSearchResponseBody.json
Due: none

AEA-3450 Mock axios not breaking all tests.
  packages/getMyPrescriptions/tests/serviceSearch.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Tests passing for ServiceSearch.
  packages/getMyPrescriptions/src/serviceSearch.ts
  packages/getMyPrescriptions/tests/serviceSearch.test.ts
Due: lint-getMyPrescriptions

Download get-secrets-layer.zip and upload to artifact
  .github/workflows/sam_package_code.yml
  .github/workflows/sam_release_code.yml
Due: none

Uncomment the upload build artifact step
  .github/workflows/sam_package_code.yml
Due: none

Add a step to create necessary directories
  .github/workflows/sam_release_code.yml
Due: none

AEA-3450 Added distanceSelling workspace/module.
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  package-lock.json
  package.json
  packages/distanceSelling/.eslintrc
  packages/distanceSelling/.vscode/launch.json
  packages/distanceSelling/.vscode/settings.json
  packages/distanceSelling/jest.config.ts
  packages/distanceSelling/jest.debug.config.ts
  packages/distanceSelling/package.json
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
  packages/distanceSelling/tsconfig.json
  packages/getSecretLayer/README.md
  sonar-project.properties
  tsconfig.build.json
Due: lint-getSecretLayer

AEA-3450 Using new distanceSelling module in getMyPrescriptions.
  package-lock.json
  packages/distanceSelling/package.json
  packages/distanceSelling/src/index.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/getMyPrescriptions.ts
  packages/getMyPrescriptions/src/serviceSearch.ts
  packages/getMyPrescriptions/tests/serviceSearch.test.ts
Due: lint-getMyPrescriptions

AEA-3450 Added references to target service search server github secret.
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  README.md
Due: none

Move download get-sectets-layer step
  .github/workflows/sam_package_code.yml
  .github/workflows/sam_release_code.yml
Due: none

Add export to the download get-secrets-layer step
  .github/workflows/sam_package_code.yml
Due: none

AEA-3450 No longer removing address when distance selling.
  packages/distanceSelling/src/distanceSelling.ts
  packages/distanceSelling/tests/distanceSelling.test.ts
Due: none
